.compact-reservation-list {
  &-subtitle {
    color: $gray;
    font-size: 1.3rem;
    margin-top: 2px;
    margin-bottom: 10px;
  }
  .glyphicon-remove-circle {
    margin-left: 10px;
    cursor: pointer;
  }
}
