.compact-reservation-list {
  &-subtitle {
    color: $gray;
    font-size: 1.3rem;
    margin-top: units(0.125);
    margin-bottom: units(0.75);
  }
  .glyphicon-remove-circle {
    margin-left: units(0.75);
    cursor: pointer;
  }
}
