.date-picker {
  border: 1px solid $input-border;
  display: flex;
  input {
    // Width value won't be taken in account because date-picker display is flex
    // and this element has a flex-grow, flex-shrink and flex-basis values.
    width: 70%;
  }

  &.react-date-field--focused{
    border-color: $input-border-focus;
    box-shadow: $input-box-shadow-focus;
  }

  // Selected value
  .react-date-picker__decade-view--theme-default,
  .react-date-picker__year-view--theme-default,
  .react-date-picker__month-view-day--value {
    .react-date-picker__decade-view-year--value,
    .react-date-picker__year-view-month--value,
    .react-date-picker__month-view-day-text {
      background-color: $brand-primary;

      &:hover {
        background-color: $brand-primary;
      }
    }
  }

  // Active value
  .react-date-picker__decade-view--theme-default,
  .react-date-picker__year-view--theme-default,
  .react-date-picker__month-view-day--active {
    .react-date-picker__decade-view-year--active,
    .react-date-picker__year-view-month--active,
    .react-date-picker__month-view-day-text {
      border-color: $brand-primary;
    }
  }

  // Regular
  .react-date-picker__month-view--theme-default {
    .react-date-picker__month-view-day-text {
      // Forced line-height to center content in IE11
      line-height: 36px;
      &:hover {
        background-color: lighten($brand-primary, 25%);
      }
    }
  }

  & > .react-date-field__picker {
    // Forced width to avoid content hidden behind small container in IE11
    width: 282px;
  }

  &.form-control[readOnly]{
    background-color: $white;
  }
}
