.app-SearchControlsContainer {
  .app-SearchBox {
    $button-width-sm: 60px;
    $button-width-lg: 100px;
    $search-box-height: $app-SideNavbar-toggle-width;
    $search-box-height-mobile: 40px;

    position: relative;
    margin-bottom: 10px;
    width: calc(100vw - #{$app-SideNavbar-toggle-size} - #{$grid-gutter-width / 2 });
    max-width: $app-SearchPage-max-width;

    @media (min-width: $screen-sm-min) {
      margin-bottom: 20px;
    }

    &__text-field {
      border: none;
      height: $search-box-height-mobile;
      line-height: $search-box-height-mobile;
      padding-left: 30px;
      padding-left: 10px;
      padding-right: $button-width-sm;
      border-radius: 6px;
      box-shadow: 0px 1px 10px 1px rgba(0, 0, 0, 0.2);

      @media (min-width: $screen-sm-min) {
        padding-left: 30px;
        padding-right: $button-width-lg;
        height: $search-box-height;
        line-height: $search-box-height;
      }
    }

    &__divider {
      position: absolute;
      right: $button-width-sm;
      top: 8px;
      bottom: 8px;
      width: 1px;
      background: $gray-lighter;

      @media (min-width: $screen-sm-min) {
        right: $button-width-lg;
      }
    }

    &__button {
      height: $search-box-height-mobile;
      line-height: $search-box-height-mobile;
      position: absolute;
      right: 0;
      top: 0;
      width: $button-width-sm;
      border: none;
      border-radius: 6px;
      text-transform: uppercase;
      font-size: 1.2rem;
      padding: 0;
      text-align: center;

      @media (min-width: $screen-sm-min) {
        width: $button-width-lg;
        font-size: 1.6rem;
        height: $search-box-height;
        line-height: $search-box-height;
      }

      &:hover {
        background-color: transparent;
        color: darken($brand-primary, 20%);
      }
    }
  }

  &__filters {
    overflow-y: hidden;
    white-space: nowrap;
    margin-bottom: 10px;

    @media (min-width: $screen-sm-min) {
      margin-bottom: 20px;
    }
  }

  .app-PeopleCapacityControl, .app-PurposeControl, .app-DatePickerControl {
    display: inline-block;
    margin-left: 15px;
  }

  .app-DatePickerControl {
    margin-left: 0;
  }
}

.app-DatePickerControl__calendar {
  border: none;
  width: 100%;
  & > div {
    width: 100%;
  }
}
