.app-SearchControlsContainer {
  &__search-box {
    margin-top: 10px;
    margin-bottom: 30px;
    border: none;
    height: 80px;
    line-height: 80px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 6px;
    box-shadow: 0px 1px 10px 1px rgba(0, 0, 0, 0.2);
  }

  &__filters {
    margin-bottom: 30px;
  }

  &__date-picker {
    display: inline-block;
    border: none;

    &.react-date-field--focused {
      border: none;
    }

    input {
      width: 120px;
      padding: 10px 20px;
      color: $white;
      background-color: $green;
      border-radius: 30px;
      cursor: pointer;
    }

    .react-date-field__calendar-icon {
      display: none;
    }
  }
}
