.tooltip_class {
  z-index: 9999999;
}

.app-SearchControlsContainer {
  background-color: $hel-copper;
  margin-bottom: 20px;

  &__content {
    padding: 30px;
  }

  &__reset-button {
    img {
      width: $line-height-computed;
    }
  }
  .input-group-addon {
    background-color: transparent;
  }
  .panel {
    background-color: transparent;
    box-shadow: none;
    .panel-heading {
      background-color: transparent;
      padding-left: 0;
      padding-right: 0;
      .panel-title {
        font-size: 16px;
        a {
          padding-left: 24px;
          position: relative;
          text-decoration: underline;
          &::before {
            background-image: url('./images/angle-right.svg');
            background-repeat: no-repeat;
            background-size: $line-height-computed;
            content: ' ';
            display: inline-block;
            left: 0;
            top: -2px;
            position: absolute;
            height: $line-height-computed;
            width: $line-height-computed;
          }
        }
        a[aria-selected="true"]::before {
          background-image: url('./images/angle-down.svg');
        }
      }
    }
    .panel-body {
      padding-left: 0;
      padding-right: 0;
    }
  }
  .select:before {
    background-color: $hel-copper;
  }

  .form-group {
    margin-bottom: 0;
  }

  .form-control[disabled] {
    background-color: transparent;
    border-color: $black;
    color: $black;
    cursor: default;
    transition: all 0s ease 0s;
  }

  .checkbox {
    margin: 0;

    input[type=checkbox] {
      width: 24px;
      height: 24px;
      cursor: pointer;
      font-size: 24px;
      position: relative;
    }

    input[type=checkbox]:after {
        content: "\2610";
        background-color: $hel-copper;
        display: inline-block;
        visibility: visible;
    }

    input[type=checkbox]:checked:after {
        content: "\2611";
    }
  }
  .glyphicon-triangle-bottom {
    font-size: 10px;
  }
  .btn.btn-link {
    color: $black;
  }
}

// PurposeControl styles
// ---------------------

.app-PurposeControl {
  display: inline-block;
  margin-left: 0;
  position: relative;
  width: 100%;

  &__show-button {
    @include search-control-button($blue);
  }

  .app-SearchControlOverlay__header {
    background-color: $blue;
  }
}

// PositionControl styles
// ---------------------

.app-PositionControl {

  &__content {
    padding: 15px;
  }

  &__toggle-content > label {
    display: flex;
    justify-content: space-between;
    font-weight: normal;
    white-space: normal;
  }
  &__geolocation-toggle.react-toggle {
    margin-left: 10px;
    vertical-align: middle;

    .react-toggle-track {
      position: relative;
      background-color: $copper;
    }
    &:hover .react-toggle-track,
    &:active .react-toggle-track {
      background-color: $copper;
    }
    .react-toggle-thumb {
      box-shadow: none;
      border-color: $copper;
    }
    &:hover .react-toggle-thumb,
    &:active .react-toggle-thumb {
      box-shadow: none;
      background-color: $copper;
    }
  }

  &__distance_slider{
    margin-top: 15px;
    &_tooltip {
      z-index: 40000;
    }
    .rc-slider-track {
      background-color: $copper;
    }
  }

  .app-SearchControlOverlay__header {
    background-color: $copper;
  }
}


// DatePickerControl styles
// ------------------------

.app-DatePickerControl {
  display: inline-block;
  margin-bottom: 0;
  position: relative;

  &__icon {
    width: 22px;
  }

  .form-control[disabled] {
    border-left-width: 0;
    border-right-width: 0;
  }

  .app-SearchControlOverlay__overlay {
    border-top: none;
  }

  .app-SearchControlOverlay {
    @media (max-width: $screen-sm-min) {
      right: 2px;
    }
  }
  .app-SearchControlOverlay__header {
    background-color: $green;
  }

  .react-date-picker__calendar--theme-default {
    border: none;
    width: 100%;

    .react-date-picker__month-view--theme-default {
      border: none;
      width: 100%;

      .react-date-picker__month-view-day  {
        line-height: 36px;

        .react-date-picker__month-view-day-text {
          background-color: $light-gray;
          border-color: $white;
          border-radius: 0;
          color: $black;

          &:hover {
            background-color: $dark-gray;
            color: $white;
          }
        }
      }
      .react-date-picker__month-view-day--today-highlight {
        color: $dark-gray;
        .react-date-picker__month-view-day-text {
          border: 2px solid $black;
        }
      }
      .react-date-picker__month-view-day--weekend-highlight {
        color: $black;
      }
      .react-date-picker__month-view-day--disabled {
        &.react-date-picker__month-view-day--prev-month,
        &.react-date-picker__month-view-day--next-month {
          color: $dark-gray;
        }
      }
      .react-date-picker__month-view-day--disabled {
        .react-date-picker__month-view-day-text {
          background-color: $medium-gray;
          color: $dark-gray;
        }
      }

      .react-date-picker__month-view-day--in-hover-range.react-date-picker__month-view-day--today-highlight,
      .react-date-picker__month-view-day--in-range.react-date-picker__month-view-day--today-highlight,
      .react-date-picker__month-view-day--value.react-date-picker__month-view-day--today-highlight {
        .react-date-picker__month-view-day-text {
          border: 2px solid $black;
          color: $white;
        }
      }

      .react-date-picker__month-view-day--in-hover-range .react-date-picker__month-view-day-text,
      .react-date-picker__month-view-day--in-range .react-date-picker__month-view-day-text,
      .react-date-picker__month-view-day--value .react-date-picker__month-view-day-text,
      .react-date-picker__month-view-day--in-hover-range .react-date-picker__month-view-day-text:hover,
      .react-date-picker__month-view-day--in-range .react-date-picker__month-view-day-text:hover,
      .react-date-picker__month-view-day--value .react-date-picker__month-view-day-text:hover {
        background-color: $dark-gray;
        border-radius: 0;
        border-color: $white;
        color: $white;
      }

      .react-date-picker__month-view-day--weekend-highlight.react-date-picker__month-view-day--next-month {
        color: #b3b3b3;
      }
    }
  }
}

// PeopleCapacityControl styles
// ----------------------------

.app-PeopleCapacityControl {
  display: inline-block;
  margin-left: 10px;
  position: relative;

  @media (min-width: $screen-sm-min) {
    margin-left: 15px;
  }

  .app-SearchControlOverlay {
    @media (max-width: $screen-sm-min) {
      right: 2px;
    }
  }

  &__show-button {
    @include search-control-button($orange);
  }

  .app-SearchControlOverlay__header {
    background-color: $orange;
  }

  .list-group {
    max-height: 210px;
    overflow-y: scroll;
  }

  .list-group-item {
    padding: 8px 15px;
  }
}

.app-SearchControlOverlay {
  position: absolute;
  width: 100%;
  z-index: 2000;

  &__overlay {
    border: 2px solid $black;
  }

  &__hide {
    color: $white;
    right: 0;
    position: absolute;
    top: 5px;
  }

  &__hide:active,
  &__hide:focus,
  &__hide:hover {
    color: $medium-gray;
    text-decoration: none;
  }

  &__header {
    color: $white;
    height: 40px;
    h2 {
      margin: 0 40px 0 15px;
      line-height: 40px;
      font-size: 1.6rem;
      font-weight: $font-weight-light;
    }
  }

  &__content {
    background-color: $white;
    padding: 20px;
  }
}
