.tooltip_class {
  z-index: 9999999;
}

.app-SearchControlsContainer {
  margin-bottom: 20px;

  .app-SearchBox {
    $button-width-sm: 60px;
    $button-width-lg: 100px;
    $search-box-height: $app-SideNavbar-toggle-width;
    $search-box-height-mobile: $app-SideNavbar-toggle-width-mobile;

    position: relative;
    margin-bottom: 10px;
    width: calc(100vw - #{$app-SideNavbar-toggle-size-mobile} - #{$grid-gutter-width / 2 });
    max-width: $app-SearchPage-max-width;

    @media (min-width: $screen-sm-min) {
      width: calc(100vw - #{$app-SideNavbar-toggle-size} - #{$grid-gutter-width / 2 });
      margin-bottom: 20px;
    }

    &__text-field {
      border: none;
      padding: 20px $button-width-sm 20px 10px;
      height: $search-box-height-mobile;
      line-height: 15px;
      border-radius: 6px;
      box-shadow: 0px 1px 10px 1px rgba(0, 0, 0, 0.2);
      font-size: 14px;

      @media (min-width: $screen-sm-min) {
        padding: 18px $button-width-lg 18px 30px;
        height: $search-box-height;
        line-height: 20px;
        font-size: 16px;
      }
    }

    &__divider {
      position: absolute;
      right: $button-width-sm;
      top: 8px;
      bottom: 8px;
      width: 1px;
      background: $gray-lighter;

      @media (min-width: $screen-sm-min) {
        right: $button-width-lg;
      }
    }

    &__button {
      height: $search-box-height-mobile;
      line-height: $search-box-height-mobile;
      position: absolute;
      right: 0;
      top: 0;
      width: $button-width-sm;
      border: none;
      border-radius: 6px;
      text-transform: uppercase;
      font-size: 1.2rem;
      padding: 0;
      text-align: center;

      @media (min-width: $screen-sm-min) {
        width: $button-width-lg;
        font-size: 1.6rem;
        height: $search-box-height;
        line-height: $search-box-height;
      }

      &:hover {
        background-color: transparent;
        color: darken($brand-primary, 20%);
      }
    }
  }

  &__filters {
    white-space: nowrap;
    margin-bottom: 10px;

    @media (min-width: $screen-sm-min) {
      margin-bottom: 20px;
    }
  }
}

// PurposeControl styles
// ---------------------

.app-PurposeControl {
  display: inline-block;
  margin-left: 0;
  position: relative;

  &__show-button {
    @include search-control-button($blue);
  }

  .app-SearchControlOverlay__header {
    background-color: $blue;
  }
}

// PositionControl styles
// ---------------------

.app-PositionControl {
  display: inline-block;
  margin-left: 10px;

  &__show-button {
    @include search-control-button($medium-gray);
    &.app-PositionControl__active {
      @include search-control-button($copper);
    }
  }

  &__content {
    padding: 15px;
  }

  &__toggle-content > label {
    display: flex;
    justify-content: space-between;
    font-weight: normal;
    white-space: normal;
  }
  &__geolocation-toggle.react-toggle {
    margin-left: 10px;
    vertical-align: middle;

    .react-toggle-track {
      position: relative;
      background-color: $copper;
    }
    &:hover .react-toggle-track,
    &:active .react-toggle-track {
      background-color: $copper;
    }
    .react-toggle-thumb {
      box-shadow: none;
      border-color: $copper;
    }
    &:hover .react-toggle-thumb,
    &:active .react-toggle-thumb {
      box-shadow: none;
      background-color: $copper;
    }
  }

  &__distance_slider{
    margin-top: 15px;
    &_tooltip {
      z-index: 40000;
    }
    .rc-slider-track {
      background-color: $copper;
    }
  }

  .app-SearchControlOverlay__header {
    background-color: $copper;
  }
}


// DatePickerControl styles
// ------------------------

.app-DatePickerControl {
  display: inline-block;
  margin-left: 10px;
  position: relative;

  @media (min-width: $screen-sm-min) {
    margin-left: 15px;
  }

  &__show-button {
    @include search-control-button($green);
  }

  .app-SearchControlOverlay {
    @media (max-width: $screen-sm-min) {
      right: 2px;
    }
  }
  .app-SearchControlOverlay__header {
    background-color: $green;
  }
}

.app-DatePickerControl__calendar {
  border: none;
  width: 100%;
  & > div {
    width: 100%;
  }
  .react-date-picker__month-view-day-text {
    // Forced line-height to center content in IE11
    line-height: 36px;
  }
}

// PeopleCapacityControl styles
// ----------------------------

.app-PeopleCapacityControl {
  display: inline-block;
  margin-left: 10px;
  position: relative;

  @media (min-width: $screen-sm-min) {
    margin-left: 15px;
  }

  .app-SearchControlOverlay {
    @media (max-width: $screen-sm-min) {
      right: 2px;
    }
  }

  &__show-button {
    @include search-control-button($orange);
  }

  .app-SearchControlOverlay__header {
    background-color: $orange;
  }

  .list-group {
    max-height: 210px;
    overflow-y: scroll;
  }

  .list-group-item {
    padding: 8px 15px;
  }
}

.app-SearchControlOverlay {
  position: absolute;
  z-index: 1;
  padding: 5px 0 0 2px;

  &__overlay {
    box-shadow: 0px 1px 10px 5px rgba(0, 0, 0, 0.2);
  }

  &__hide {
    color: $white;
    right: 0;
    position: absolute;
    top: 5px;
  }

  &__hide:active,
  &__hide:focus,
  &__hide:hover {
    color: $medium-gray;
    text-decoration: none;
  }

  &__header {
    color: $white;
    height: 40px;
    h2 {
      margin: 0 40px 0 15px;
      line-height: 40px;
      font-size: 1.6rem;
      font-weight: $font-weight-light;
    }
  }

  &__content {
    max-width: 400px;
    background-color: $white;
  }
}
