.app-ManageReservationsFilters {
  &__datePickers {
    display: flex;

    @media (max-width: $screen-sm-max) {
      display: block;
    }

    .app-DateField {
      flex: 1;
    }

    .separator {
      margin-bottom: $form-group-margin-bottom;
      width: 30px;
      padding-top: units(1.5);
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;

      @media (max-width: $screen-sm-max) {
        display: none;
      }
    }
  }

  &__resetButton {
    margin-top: units(1.5);

    img {
      margin-left: calc(#{units(0.5)} * -1);;
      width: $line-height-computed;
    }
  }
}
