.app-ReservationTime {
  padding-bottom: units(1.5);

  &__controls {
    text-align: right;
    .btn {
      margin-left: units(1);
    }
  }
  .reservation-calendar-reserve-info {
    .btn {
      display: none;
    }
  }
}
