.app-NotificatorDatePicker {
  width: 100%;
  height: 52px;
  border: 2px solid $black;

  .date-holder {
    height: 100%;
    width: 100%;
    padding: 0 10px;
    display: flex;
    align-items: center;
  }

  &__datePicker {
    background-color: $white;
    position: absolute;
    top: 100% !important;
    left: 15px;
    right: 0;
    border: 2px solid $black;
    border-top: none;
    z-index: 1000;
    width: 90%;
    display: flex;
    justify-content: center;
  }

  .DayPicker-Month {
    width: 250px;
  }

  &:hover {
    cursor: pointer;
  }
}
