.reservation-success-modal {
  .modal-title {
    margin-bottom: units(0.75);
  }
  &__content {
    background-color: $white;
    border-radius: 2px;
    color: $black;
    padding: units(0.75);
  }
  .reservation-access-code {
    font-weight: $font-weight-bold;
  }
}
