.app-Sidebar {
  &__content{
    overflow-y: auto !important;
    overflow-x: hidden;
    @media (max-width: $force-open-navbar-screen-width - 1px) {
      right: 0 !important;
    }
    @media (min-width: $screen-lg-min) {
      margin-right: $app-SideNavbar-width;
    }
  }
}
