.app-TimePickerCalendar {
  &__event {
    color: $hel-coat;
    border-radius: 0 !important;

    &--reserved {
      color: $white !important;
      background-color: $red !important;
      border-color: $red !important;
    }
  }

  &__restrictedDate {
    background-color: $gray-light !important;
  }

  &__newReservation {
    position: relative;
  }

  &__cancelEvent {
    position: absolute;
    right: 0.25em;
    bottom: 0;
    z-index: 2;

    &::after {
      display: inline;
      content: '\00D7';
      font-size: 1.25em;
      font-weight: bold;
      line-height: 0.75;
    }
  }

  .fc-event {
    font-size: 1.75rem;
    font-weight: bold;
    background-color: #bddbf0;
    border: 1px solid $hel-coat;

  }

  .fc-event.fc-selected:after {
    opacity: 0.35;
    background-color: $hel-coat;
  }



  .fc-header-toolbar {
    .fc-left {
      width: 30%;
      .fc-button-group {
        .fc-button {
          flex-grow: 0;
        }

        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
    }

    .fc-myToday-button {
      border: 1px solid $black;
      border-radius: 0;
      padding: 0.2rem 0.3rem;
      color: $black;
      background: $white;
      font-weight: $font-weight-bold;


      &:disabled {
        border:none;
        background: $hel-coat;
        font-weight: $font-weight-bold;
        color: $white;
        opacity: 1;
      }
    }

    .fc-myPrev-button,
    .fc-myNext-button {
      font-size: 2.5rem;
      margin: 0 !important;
      background: $white;
      color: $black;
      border:0;
    }

    .fc-timeGridWeek-button,
    .fc-timeGridDay-button {
      border: 1px solid $black;
      border-radius: 0;
      padding: 0.3rem 0.3rem;
      background: $white;
      color: $black;

      &.fc-button-active {
        background: $black;
        color: $white
      }
    }

    .fc-myNext-button {
      @include icon-angle-right($black);
    }

    .fc-myPrev-button {
      @include icon-angle-left($black);
    }
  }



  @media (max-width: $screen-xs-max) {
    .fc-time-grid .fc-slats td {
      height: 2em !important;
    }

    .fc-view-container {
      overflow: scroll;

      .fc-timeGridWeek-view {
        width: 700px;
      }
    }

    .fc-header-toolbar {
      .fc-center {
        text-align: center;
        h2 {
          font-size: 1.2rem;
        }
      }
    }
  }

  @media (max-width: $screen-xs-min) {
    .fc-header-toolbar {
      .fc-next-button,
      .fc-prev-button {
        width: 3rem
      }
    }
  }
}




