.app-TimePickerCalendar {
  &__event {
    color: $white !important;
    border-radius: 0 !important;

    &--reserved {
      background-color: $red !important;
      border-color: $red !important;
    }
  }

  &__restrictedDate {
    background-color: $gray-light !important;
  }

  &__newReservation {
    position: relative;
  }

  &__cancelEvent {
    position: absolute;
    right: 0.25em;
    top: 0;
    z-index: 2;

    &::after {
      display: inline;
      content: '\00D7';
      font-size: 1.25em;
      font-weight: bold;
      line-height: 0.75;
    }
  }
}


@media (max-width: $screen-xs-max) {
  .fc-time-grid .fc-slats td {
    height: 5em !important;
  }
}
