.app-TimePickerCalendar {
  &__event {
    color: $white !important;
    border-radius: 0 !important;

    &--reserved {
      background-color: $red !important;
      border-color: $red !important;
    }
  }

  &__eventDuration {
    overflow: hidden;
    &--max {
      color: inherit;
    }
  }

  &__restrictedDate {
    background-color: $gray-light !important;
  }

  &__newReservation {
    position: relative;
  }

  &__cancelEvent {
    position: absolute;
    right: 0.25em;
    top: 0;
    z-index: 2;

    &::after {
      display: inline;
      content: '\00D7';
      font-size: 1.25em;
      font-weight: bold;
      line-height: 0.75;
    }
  }

  @media (max-width: $screen-xs-max) {
    .fc-time-grid .fc-slats td {
      height: 2em !important;
    }

    .fc-view-container {
      overflow: scroll;

      .fc-timeGridWeek-view {
        width: 700px;
      }
    }

    .fc-header-toolbar {
      display: flex;

      .fc-left,
      .fc-right {
        width: 30%
      }


      .fc-button {
        border: none;
        border-radius: 0;
        padding: 0.2em 0.3em;
        background: $hel-coat;
        font-weight: $font-weight-bold;

        &:disabled {
          border: 1px solid $black;
          color: $black;
          background: $white !important;
        }

        &.fc-timeGridDay-button,
        &.fc-timeGridWeek-button {
          &.fc-button-active {
            display: none;
          }
        }
      }

      .fc-prev-button,
      .fc-next-button {
        margin: 0 !important;
        background: $white;
        padding: 0;
      }

      .fc-icon {
        color: $black;
      }

      .fc-right, .fc-left {
        .fc-button-group {
          .fc-button {
            flex-grow: 0;
          }

          display: flex;
          flex-direction: row;
          justify-content: space-between;
        }
      }

      .fc-center {
        text-align: center;
        h2 {
          font-size: 1em;
        }
      }
    }
  }

}


