.app-TimePickerCalendar {
  &__event {
    color: $hel-coat !important;
    border-radius: 0 !important;

    &--reserved {
      color: $white !important;
      background-color: $red !important;
      border-color: $red !important;
    }
  }

  &__restrictedDate {
    background-color: $gray-light !important;
  }

  &__newReservation {
    position: relative;
  }

  &__cancelEvent {
    position: absolute;
    right: 0.25em;
    bottom: 0;
    z-index: 2;

    &::after {
      display: inline;
      content: '\00D7';
      font-size: 1.25em;
      font-weight: bold;
      line-height: 0.75;
    }
  }

  &__maxDuration {
    font-size: 1.25rem;
  }

  & .fc-time-grid {
    /* Add a fixed margin to the bottom of the calendar which allows
       events to overflow the container by the margin's amount without
       causing a scroll bar to appear. Previously the drag indicator on
       an event could cause an overflow, whose amount would depend on
       the hover state of the event. The change in the overflow amount 
       would cause the position of the event to flicker when the event
       spanned the final hour visible in the calendar in the week view.
      */
    margin-bottom: 12px;
  }

  .fc-event,
  .fc-event:hover {
    font-size: 1.75rem;
    font-weight: bold;
    background-color: #bddbf0;
    border: 1px solid $hel-coat;
    color: $hel-coat;
  }

  .fc-event.fc-selected::after {
    background-color: #bddbf0;
    color: $hel-coat;
  }


  .fc-time-grid-event.fc-selected {
    .fc-resizer {
      width: 12px;
      height: 12px;
      bottom: -7px;
      left: 49%;
      z-index: 50 !important;
      border-radius: 50%;

      &::before {
        width: 80px;
        max-height: 80px;
        top: 0;
        left: 0;
        margin-left: -40px;
      }

      &::after {
        color: #FFF !important;
      }
    }
  }


  .fc-header-toolbar {
    .fc-left {
      width: 30%;
      .fc-button-group {
        .fc-button {
          flex-grow: 0;
        }

        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
    }

    .fc-myToday-button {
      border: 1px solid $black;
      border-radius: 0;
      padding: 0.5rem 0.5rem;
      color: $black;
      background: $white;
      font-weight: $font-weight-bold;


      &:disabled {
        border:none;
        background: $hel-coat;
        font-weight: $font-weight-bold;
        color: $white;
        opacity: 1;
      }
    }

    .fc-myPrev-button,
    .fc-myNext-button {
      font-size: 2.5rem;
      margin: 0 !important;
      background: $white;
      color: $black;
      border:0;
    }

    .fc-timeGridWeek-button,
    .fc-timeGridDay-button {
      border: 1px solid $black;
      border-radius: 0;
      padding: 0.5rem 0.5rem;
      background: $white;
      color: $black;

      &.fc-button-active {
        background: $black;
        color: $white
      }
    }


    .fc-myNext-button {
      @include icon-angle-right($black);
    }

    .fc-myPrev-button {
      @include icon-angle-left($black);
    }
  }



  @media (max-width: $screen-xs-max) {
    .fc-time-grid .fc-slats td {
      height: 2em !important;
    }

    .fc-view-container {
      overflow: scroll;

      .fc-timeGridWeek-view {
        width: 700px;
      }
    }

    .fc-header-toolbar {
      .fc-center {
        text-align: center;
        h2 {
          font-size: 1.2rem;
        }
      }
    }
  }

  @media (max-width: $screen-xs-min) {
    .fc-header-toolbar {
      .fc-next-button,
      .fc-prev-button {
        width: 3rem
      }
    }
  }
}




