{
  "extends": ["airbnb", "plugin:prettier/recommended", "prettier/react"],
  "env": {
    "browser": true,
    "node": true,
    "jest": true
  },
  "parser": "babel-eslint",
  "plugins": ["import", "react", "react-hooks"],
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "./config/webpack.common.js"
      }
    }
  },
  "rules": {
    // Project's own preferences.
    "import/order": [
      "error",
      {
        "groups": [
          "builtin",
          "external",
          ["internal", "parent", "sibling", "index"]
        ],
        "newlines-between": "always"
      }
    ],
    "new-cap": ["error", { "capIsNew": false, "newIsCap": true }],
    "react/jsx-sort-props": ["error", { "ignoreCase": true }],
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "max-len": ["warn", { "code": 120 }],
    // Configure prettier to use single quotes.
    "prettier/prettier": ["error", { "singleQuote": true }],

    // Some airbnb rules are turned off in this project.
    "class-methods-use-this": "off",
    "import/prefer-default-export": "off",
    "import/no-extraneous-dependencies": "off",
    "no-unused-expressions": "off",
    "no-use-before-define": "off",
    "no-underscore-dangle": ["error", { "allow": ["_paq"] }],
    "react/jsx-filename-extension": "off",
    "react/jsx-props-no-spreading": "off",
    "react/require-default-props": "off",
    "react/state-in-constructor": "off",
    "react/forbid-prop-types": "off",
    "react/destructuring-assignment": "off",
    "react/static-property-placement": "off",
    "react/prefer-stateless-function": "off",
    "react/no-array-index-key": "off",
    // These next ones at least should generally be considered for
    // removal from this file.
    "no-restricted-globals": "off",
    "no-plusplus": "off",
    "no-case-declarations": "off"
  }
}
