{
  "extends": "airbnb",

  "env": {
    "browser": true,
    "mocha": true,
    "node": true
  },

  "globals": {
    "SETTINGS": true
  },

  "parser": "babel-eslint",

  "plugins": ["import", "react"],

  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "./config/webpack.common.js"
      }
    }
  },

  "rules": {

    "class-methods-use-this": "off",

    "import/no-extraneous-dependencies": "off",

    "import/order": [
      "error",
      {
        "groups": [
          "builtin",
          "external",
          ["internal", "parent", "sibling", "index"]
        ],
        "newlines-between": "always"
      }
    ],

    "import/prefer-default-export": "off",

    "new-cap": ["error", { "capIsNew": false, "newIsCap": true }],

    "no-underscore-dangle": ["error", { "allow": ["_paq"] }],

    "no-unused-expressions": "off",

    "no-use-before-define": ["error", "nofunc"],

    "react/forbid-prop-types": "off",

    "react/jsx-filename-extension": "off",

    "react/jsx-sort-props": ["error", { "ignoreCase": true }],

    "react/no-string-refs": "off",

    "react/no-unused-prop-types": ["error", { "skipShapeProps": true }],

    "react/prefer-stateless-function": "off",

    "linebreak-style": 0,

    "no-restricted-globals": ["error", "history"],
    
    "prefer-destructuring": "off",

    "react/destructuring-assignment": "off",

    "react/require-default-props": "off",
    
    "jsx-a11y/click-events-have-key-events": "off",

    "jsx-a11y/anchor-is-valid": "off",

    "jsx-a11y/label-has-for": "off",
    
    "react/no-array-index-key": "off"
  }
}
