{
  "extends": "airbnb",

  "env": {
    "browser": true,
    "mocha": true,
    "node": true
  },

  "globals": {
    __API_URL__: true,
    __TRACKING__: false
  },

  "parser": "babel-eslint",

  "plugins": [
    "babel",
    "import",
    "react"
  ],

  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "./config/webpack.common.js"
      }
    }
  },

  "rules": {

    // Amendments to airbnb rules
    // ##########################

    "class-methods-use-this": "off",

    "import/no-extraneous-dependencies": "off",

    "import/order": ["error", { groups: ["builtin", "external", ["internal", "parent", "sibling", "index"]], "newlines-between": "always" }],

    "import/prefer-default-export": "off",

    // allow use of constructors without new,
    // makes working with seamless-immutable easier
    "new-cap": ["error", {"capIsNew": false, "newIsCap": true}],

    // allow using underscore dangle with piwik
    no-underscore-dangle: ["error", { "allow": ["_paq"] }],

    // makes testing easier with chai expect
    "no-unused-expressions": "off",

    // allow functions to be used before they are defined
    "no-use-before-define": ["error", "nofunc"],

    "react/forbid-prop-types": "off",

    "react/jsx-filename-extension": "off",

    "react/jsx-sort-props": ["error", { "ignoreCase": true }],

    "react/no-string-refs": "off",

    "react/no-unused-prop-types": ["error", { "skipShapeProps": true }],

    "react/prefer-stateless-function": "off"

  }
}
