.app-SearchResults {

  @media (min-width: $screen-sm-min) {
    margin-left: 0;
    margin-right: 0;
  }
  &__container {
    min-height: 400px;
  }
}

.app-SearchResultsPaging {
  padding: 30px 0;

  .btn {
    background-color: $white;
  }
  .btn:not(:last-child) {
    border-right: none;
  }
  &__selected.btn {
    background-color: $yellow;
  }
}
