@import './reservation-time-controls';

.checkbox-field {
  .help-block {
    margin-left: units(1.5);
  }
}

.terms-checkbox-field {
  .checkbox {
    display: inline;
  }
  .terms-checkbox-field-link {
    cursor: pointer;
    color: $blue;
    display: inline;
    min-height: 22px;
    text-decoration: underline;
    font-size: 1.6rem;
  }
}
