.app-UserNotificator {
  min-height: 60px;
  width: 100%;
  background-color: #73c0ff;
  position: relative;

  .container{
    height: 100%;
    display: flex;
    align-items: center;
  }

  .close-notificator {
    position: absolute;
    right: units(1.5);
    top: units(0.25);
    color: $gray;
    z-index: 1;
  }

  .close-notificator:hover {
    cursor: pointer;
    color: $gray-light
  }

  &__warning {
    background-color: #fff4b4 !important;
  }

  &__danger {
    background-color: #f6e2e6 !important;
  }
}
