.app-UserNotificator {
  height: 60px;
  width: 100%;
  background-color: #fff4b4;
  position: relative;

  .container{
    height: 100%;
    display: flex;
    align-items: center;
  }

  .close-notificator {
    position: absolute;
    right: 20px;
    top: 5px;
    color: $gray;
  }

  .close-notificator:hover {
    cursor: pointer;
    color: $gray-light
  }
}
