.app-UserNotificator {
  min-height: 60px;
  width: 100%;
  background-color: #73c0ff;
  position: relative;
  padding: 0.5em 0;

  .container {
    height: 100%;
    display: flex;
    align-items: center;
  }

  .close-notificator {
    position: absolute;
    right: 20px;
    top: 5px;
    color: $gray;
    z-index: 1;
  }

  .close-notificator:hover {
    cursor: pointer;
    color: $gray-light;
  }

  &__warning {
    background-color: #fff4b4 !important;
  }

  &__danger {
    background-color: #f6e2e6 !important;

    .container {
      font-size: 2rem;

      @media (min-width: $screen-md-min) {
        font-size: 3rem;
      }
    }
  }
}
