.app-searchPagination {
  padding: 30px 0;

  .btn {
    background-color: $white;

    &:not(:last-child) {
      border-right: none;
    }
  }

  &__selected.btn {
    background-color: $yellow;
  }
}
