$cellWidth: 33.33%;
$cellHeight: 50%;

.app-resourceCardInfoCell {
  border: none;
  background: transparent;
  display: inline-flex;
  flex-direction: column;
  width: $cellWidth;
  height: $cellHeight;
  align-items: center;

  &:hover,
  &:focus {
    outline: none;

    &:active {
      outline: none;
    }

    box-shadow: none;
  }

  &__icon {
    width: $line-height-computed*1.2;
  }

  span {
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    text-transform: capitalize;
  }
}
