// Colors
// -----

$white:         #ffffff;
$black:         #191919;
$blue-light:    #d5ecf4;
$blue:          #0047b6;
$green:         #c6db00;
$yellow:        #ffce00;
$orange:        #ff7300;
$warning:       #ffc61e;
$red:           #bd2719;

// Typography
// ----------

$font-family:            "Overpass", Arial, Helvetica, sans-serif;
$font-weight-regular:    400;
$font-weight-bold:       600;
