@import "./variables";
@import "./mixins";

.espoo-customizations {

  // Typography
  // ----------

  h1, h2, h3, h4, h5, h6 {
    color: $blue;
    font-family: $font-family;
    font-weight: $font-weight-bold;
  }

  p {
    font-family: $font-family;
    font-weight: $font-weight-regular;
  }

  a {
    color: $blue;
    font-family: $font-family;

    &:hover {
      color: $blue;
    }
  }

  div {
    font-family: $font-family;
  }

  // Navbar
  // ------

  .app-SideNavbar .app-Sidebar__sidebar {
    background-color: $blue;

    h1, h2, h3, h4, h5, h6, p, a {
      color: $white;
      &:hover, &:focus {
        color: $white;
      }
    }

    .app-Navbar {
      background-color: $blue;
      .main-nav {
        .nav.nav-stacked {
          li {
            border-bottom: 1px solid lighten($blue, 6);
            &:first-of-type {
              border-top: 1px solid lighten($blue, 6);
            }
          }
        }
      }
    }

    .feedback-link {
      color: #bbb;
      &:hover, &:focus {
        color: #bbb;
      }
    }
  }

  .app-SideNavbar__toggle {
    background-color: $blue;
    color: $white;

    &:hover, &:focus {
      color: $white;
    }
  }

  // Footer
  // ------

  footer {
    background-color: $blue;

    .brand-link, .brand-link:hover {
      color: #fff;
    }

    .feedback-link {
      color: #ccc;
    }

    .about-link {
      color: #fff;
    }
  }

  // About-page
  // ----------

  .about-page {
    .about-page-logos {
      margin-bottom: 20px;
      margin-top: -15px;

      .aika-logo {
        height: 40px;
        margin-top: 20px;
        margin-right: 10px;
      }
      .eu-vipuvoimaa-logo {
        height: 60px;
        margin-top: 20px;
        margin-right: 10px;
      }
      .eakr-logo {
        height: 80px;
        margin-top: 20px;
      }
    }
  }

  // Buttons
  // -------

  .btn-primary {
    @include btn-styles($blue);
  }

  // Modals
  // ------
  .modal {
    &.modal-city-theme .modal-content {
      background-color: $blue;
      h1, h2, h3, h4, h5, h6 {
        color: white;
      }
    }
    .modal-header::before {
      background-image: url('../../shared/logo/espoo-logo.png');
    }
  }
  .app-ResourceInfo__images-wrapper,
  .app-DatePickerControl__modal-header,
  .app-PurposeControl__modal-header,
  .app-PositionControl__modal-header,
  .app-PeopleCapacityControl__modal-header {
    h1, h2, h3, h4, h5, h6 {
      color: white;
    }
  }
}
