.favorite-button {
  &--favorite {
    &,
    &:active {
      &,
      &:focus,
      &:hover {
        background-color: $black;
        color: $white;
      }
    }
  }

  &__icon {
    height: $line-height-computed;
    width: $line-height-computed;
    margin-right: 8px;
    vertical-align: bottom;
  }
}
