.app-ResourceCalendar {
  $available-color: $light-gray;
  $busy-color: $yellow;
  $booked-color: $red;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 30px auto;

  &__icon {
    width: 22px;
  }

  .app-ResourceCalendar__wrapper {
    display: block;
    max-width: 400px;
    flex-grow: 1;
    position: relative;

    .form-group {
      margin-bottom: 0;
    }
    .form-control[disabled] {
      background-color: transparent;
      border-color: $black;
      color: $black;
      cursor: default;
      transition: all 0s ease 0s;
    }

    .input-group-addon {
      background-color: transparent;
    }

    .glyphicon-triangle-bottom {
      font-size: 10px;
    }

    .form-control[disabled] {
      border-left-width: 0;
      border-right-width: 0;
    }

    .DayPicker {
      padding: 0;
      overflow-x: hidden;
      width: 100%;

      &:focus {
        outline: none;
      }
    }

    .DayPicker-NavBar {
      position: absolute;
      display: flex;
      width: 100%;
      justify-content: space-between;
    }

    .DayPicker-NavButton--prev {
      @include icon-angle-left($black);
      width: $line-height-computed;
      height: $line-height-computed;
      position: static;
      margin-right: 0;
    }

    .DayPicker-NavButton--next {
      @include icon-angle-right($black);
      width: $line-height-computed;
      height: $line-height-computed;
      position: static;
    }

    .DayPicker-Caption {
      height: auto;
      font-weight: 600;
      line-height: 3rem;
      font-size: 16px;
      text-transform: capitalize;
      text-align: center;
    }

    .DayPicker-Month {
      margin: 0;
      border-collapse: separate;
      width: 100%;
    }

    .DayPicker-Day {
      border: 2px solid $white;
      padding: 1.2rem;
      margin: 1px;
      line-height: 1rem;
      color: $black;
      background-color: $available-color;
      border-radius: 0;
      font-size: 1.6rem;

      &:focus {
        outline: none;
      }

      &--disabled {
        cursor: pointer;
        text-decoration: line-through;
        background-color: $medium-gray;
        color: $dark-gray;
      }
      &--available:not(.DayPicker-Day--disabled) {
        background-color: $copper;
        &.DayPicker-Day--selected {
          background-color: $available-color;
        }
      }
      &--busy:not(.DayPicker-Day--disabled) {
        background-color: $busy-color;
        &.DayPicker-Day--selected {
          background-color: $busy-color;
        }
      }
      &--booked:not(.DayPicker-Day--disabled) {
        background-color: $booked-color;
        text-decoration: line-through;
        &.DayPicker-Day--selected {
          background-color: $booked-color;
        }
      }
      &--selected:not(.DayPicker-Day--disabled):not(.DayPicker-Day--outside) {
        color: $black;
        border: 2px solid $black;
      }
      &--outside {
        color: $dark-gray;
      }
    }

    .DayPicker-WeekdaysRow {
      padding: 0.2rem;
      font-size: 1.4rem;
    }

    .DayPicker-Weekdays {
      text-transform: uppercase;
      font-weight: normal;
      abbr {
        border: none;
        cursor: default;
        vertical-align: text-top;
      }
    }
    .DayPicker-Weekday {
      color: $black;
    }

    .DayPicker-WeekNumber {
      font-size: 14px;
    }

    .calendar-legend {
      display: flex;
      justify-content: space-between;
      span {
        padding: 8px;
      }
      span::before {
        content: '';
        display: inline-block;
        vertical-align: middle;
        width: 16px;
        height: 16px;
        margin: 6px;
      }
      span.free::before {
        background-color: $copper;
      }
      span.busy::before {
        background-color: $busy-color;
      }
      span.booked::before {
        background-color: $booked-color;
      }
    }

    .app-ResourceCalendarOverlay {
      position: absolute;
      width: 100%;
      z-index: 2222;

      &__overlay {
        border-style: solid;
        border-color: $black;
        border-width: 0 2px 2px 2px;
      }

      &__hide {
        color: $white;
        right: 0;
        position: absolute;
        top: 5px;
      }

      &__hide:active,
      &__hide:focus,
      &__hide:hover {
        color: $medium-gray;
        text-decoration: none;
      }

      &__header {
        color: $white;
        height: 40px;
        h2 {
          margin: 0 40px 0 15px;
          line-height: 40px;
          font-size: 1.6rem;
          font-weight: $font-weight-light;
        }
      }

      &__content {
        background-color: $white;
        padding: 20px;
      }
    }
    @media (max-width: $screen-xs-max) {
      order: -1;
      width: 100%;
    }
  }
}
