.app-ResourceCalendar {
  $available-color: $light-gray;
  $busy-color: $yellow;
  $booked-color: $red;
  display: block;
  max-width: 400px;
  margin: 30px auto;
  position: relative;

  &__icon {
    width: 22px;
  }

  .form-group {
    margin-bottom: 0;
  }
  .form-control[disabled] {
    background-color: transparent;
    border-color: $black;
    color: $black;
    cursor: default;
    transition: all 0s ease 0s;
  }

  .input-group-addon {
    background-color: transparent;
  }

  .glyphicon-triangle-bottom {
    font-size: 10px;
  }

  .form-control[disabled] {
    border-left-width: 0;
    border-right-width: 0;
  }

  .DayPicker {
    padding: 0;
    overflow-x: hidden;

    &:focus {
      outline: none;
    }
  }

  .DayPicker-NavBar {
    padding: .75rem .5rem;
  }

  .DayPicker-Caption {
    height: auto;
    font-weight: 600;
    line-height: 3rem;
  }

  .DayPicker-Month {
    margin: 0;
    border-collapse: separate;
  }

  .DayPicker-Day {
    border: 2px solid $white;
    padding: 1.2rem;
    margin: 1px;
    line-height: 1rem;
    color: $black;
    background-color: $available-color;

    &:focus {
      outline: none;
    }

    &--disabled {
      cursor: pointer;
      text-decoration: line-through;
      background-color: $medium-gray;
      color: $dark-gray;
    }
    &--available:not(.DayPicker-Day--disabled) {
      background-color: $available-color;
      &.DayPicker-Day--selected {
        background-color: $available-color;
      }
    }
    &--busy:not(.DayPicker-Day--disabled) {
      background-color: $busy-color;
      &.DayPicker-Day--selected {
        background-color: $busy-color;
      }
    }
    &--booked:not(.DayPicker-Day--disabled) {
      background-color: $booked-color;
      text-decoration: line-through;
      &.DayPicker-Day--selected {
        background-color: $booked-color;
      }
    }
    &--selected:not(.DayPicker-Day--disabled):not(.DayPicker-Day--outside) {
      color: $black;
      border: 2px solid $black;
    }
    &--outside {
      color: $dark-gray;
    }
  }

  .DayPicker-WeekdaysRow {
    padding: 0.2rem;
  }

  .DayPicker-Weekdays {
    text-transform: uppercase;
    font-weight: normal;
    abbr {
      border: none;
      cursor: default;
      vertical-align: text-top;
    }
  }
  .DayPicker-Weekday {
    color: $black;
  }

  .calendar-legend {
    display: flex;
    justify-content: space-between;
    span {
      padding: 8px;
    }
    span::before {
      content: '';
      display: inline-block;
      vertical-align: middle;
      width: 16px;
      height: 16px;
      margin: 6px;
    }
    span.free::before {
      background-color: $available-color;
    }
    span.busy::before {
      background-color: $busy-color;
    }
    span.booked::before {
      background-color: $booked-color;
    }

  }

  .app-ResourceCalendarOverlay {
    position: absolute;
    width: 100%;
    z-index: 2;

    &__overlay {
      border-style: solid;
      border-color: $black;
      border-width: 0 2px 2px 2px;
    }

    &__hide {
      color: $white;
      right: 0;
      position: absolute;
      top: 5px;
    }

    &__hide:active,
    &__hide:focus,
    &__hide:hover {
      color: $medium-gray;
      text-decoration: none;
    }

    &__header {
      color: $white;
      height: 40px;
      h2 {
        margin: 0 40px 0 15px;
        line-height: 40px;
        font-size: 1.6rem;
        font-weight: $font-weight-light;
      }
    }

    &__content {
      background-color: $white;
      padding: 20px;
    }
  }
}
