.calendar-availability {
  $available-color: $green;
  $busy-color: $yellow;
  $booked-color: $red;
  display: inline-block;

  .DayPicker {
    padding: 0;
    border: 1px solid $gray-light;
    border-radius: 5px;
    overflow-x: hidden;
  }

  .DayPicker-NavBar {
    padding: .75rem .5rem;
  }

  .DayPicker-Caption {
    height: auto;
    font-weight: 600;
    line-height: 3rem;
  }

  .DayPicker-Month {
    margin: 0;
  }

  .DayPicker-Day {
    border: none;
    padding: 1.5rem;
    line-height: 1rem;
    color: $white;
    background-color: $gray-light;

    &--disabled {
      cursor: pointer;
    }
    &--available:not(.DayPicker-Day--disabled) {
      background-color: $available-color;
      &.DayPicker-Day--selected {
        background-color: darken($available-color, 10%);
      }
    }
    &--busy:not(.DayPicker-Day--disabled) {
      background-color: $busy-color;
      &.DayPicker-Day--selected {
        background-color: darken($busy-color, 20%);
      }
    }
    &--booked:not(.DayPicker-Day--disabled) {
      background-color: $booked-color;
      &.DayPicker-Day--selected {
        background-color: darken($booked-color, 20%);
      }
    }
    &--selected:not(.DayPicker-Day--outside) {
      color: #FFF;
      background-color: #4A90E2;
    }
  }

  .DayPicker-WeekdaysRow {
    background-color: $gray-lighter;
    border-bottom: 1px solid white;
    padding: 0.2rem;
  }

  .DayPicker-Weekdays {
    text-transform: uppercase;
    color: $gray;
    font-weight: 600;
    abbr {
      border: none;
      cursor: default;
      vertical-align: text-top;
    }
  }

  .calendar-legend {
    display: flex;
    justify-content: space-between;
    span {
      padding: 8px;
    }
    span::before {
      content: '';
      display: inline-block;
      vertical-align: middle;
      width: 16px;
      height: 16px;
      margin: 6px;
      border-radius: 50%;
    }
    span.free::before {
      background-color: $available-color;
    }
    span.busy::before {
      background-color: $busy-color;
    }
    span.booked::before {
      background-color: $booked-color;
    }

  }
}
