.app-Navbar {
  background-color: $brand-primary;
  color: white;

  a {
    color: white;
  }

  .app-Navbar__logout-button {
    text-transform: uppercase;
  }

  .main-nav {
    margin-top: 60px;
    text-align: center;
  }

  .nav.nav-stacked {
    li {
      margin: 0 30px;
      padding: 10px 0;
      border-bottom: 1px solid lighten($brand-primary, 6);
      a {
        padding-left: 0;
        padding-right: 0;
      }
      &:first-of-type {
        border-top: 1px solid lighten($brand-primary, 6);
      }
    }
  }

  #language-nav {
    li {
      position: relative;
      display: inline-block;
      a {
        padding-left: 0;
        padding-right: 10px;
      }
      img {
        height: 25px;
      }
    }
  }
}
