@import './reservation-filters/reservation-filters';
@import './reservation-list/reservation-list';

.app-UserReservationPage {
  height: 100%;

  &__overlay {
    z-index: z-index(reservation-page-overlay);
  }

  &__content {
    position: relative;
  }

  .app-PageWrapper {
    background-color: $hel-silver;
  }

  &__tabs {
    margin-bottom: units(1);
  }

  &__tab {
    padding: 0;

    color: $black;
    font-weight: $font-weight-bold;
    font-size: 3rem;

    border: none;
    background: none;

    &:not(:last-child) {
      margin-right: units(2);
    }

    &--active {
      border-bottom: 4px solid $black;
    }
  }
}
