.reservation-calendar {
  .info-text {
    margin-top: 30px;
    font-size: 20px;
    color: @gray;
    text-align: center;
  }

  .DayPicker {
    display: inline-block;
    padding: 0;
    border: 1px solid @gray-light;
    border-radius: 5px;
    overflow-x: hidden;
  }

  .DayPicker-NavBar {
    padding: .75rem .5rem;
  }

  .DayPicker-Caption {
    height: auto;
    font-weight: 600;
    line-height: 3rem;
  }

  .DayPicker-Month {
    margin: 0;
  }

  .DayPicker-Day {
    border: none;
    padding: 1.5rem;
    line-height: 1rem;
    &--disabled {
      cursor: pointer;
    }
    &--available:not(.DayPicker-Day--disabled):not(.DayPicker-Day--selected) {
      background-color: #D1FAD1;
    }
    &--busy:not(.DayPicker-Day--disabled):not(.DayPicker-Day--selected)  {
      background-color: #F6EAAC;
    }
    &--booked:not(.DayPicker-Day--disabled):not(.DayPicker-Day--selected)  {
      background-color: #F5A3A3;
    }
    &--selected:not(.DayPicker-Day--outside) {
      color: #FFF;
      background-color: #4A90E2;
    }
  }

  .DayPicker-WeekdaysRow {
    background-color: @gray-lighter;
    border-bottom: 1px solid white;
    padding: 0.2rem;
  }

  .DayPicker-Weekdays {
    text-transform: uppercase;
    color: @gray;
    font-weight: 600;
    abbr {
      border: none;
      cursor: default;
      vertical-align: text-top;
    }
  }
}
