footer {
  background-color: $brand-primary;
  color: $white;
  margin-top: units(2.5);
  text-align: center;
  font-size: 1.6rem;

  .brand-link {
    display: block;
    color: $white;
    font-size: 2.5rem;
    line-height: 50px;
    font-weight: bold;
    text-decoration: none;

    img {
      display: block;
      margin: 0 auto;
      vertical-align: top;
      height: 50px;
    }
  }

  .feedback-link {
    color: #ccc;
  }

  .about-link {
    color: $white;
    font-weight: bold;
  }

  a {
    color: $white;
  }

  a:hover {
    color: #eee;
  }

  .app-varaamo-version-wrapper {
    display: flex;
    justify-content: center;
  }

  .app-varaamo-version {
    font-size: $font-size-small;
    color: $white;
    text-align: center;
    @media (min-width: $screen-md-min) {
      margin-top: 70px;
    }
  }
}
