.app-ReservationConfirmation {
  padding-bottom: 22px;

  &__terms {
    border: 1px solid $medium-gray;
    padding: 10px;
  }

  &__button-wrapper {
    text-align: right;
  }

  a {
    color: $blue;
  }
  &__icon {
    height: 20px;
    margin-right: 7px;
  }

  &__highlight {
    background: darken($light-gray, 5%);
    padding: 5px 0;
    margin-bottom: 20px;
  }

  &__reservation-date {
    .reservation-date__content {
      margin: 20px auto;
    }
    h3 {
      font-size: 1.6rem;
      font-weight: normal;
    }
  }
  &__resource-name {
    text-align: center;
  }

  &__error-msg-title {
    font-weight: $font-weight-light;
  }
}
