.app-ReservationConfirmation {
  padding-bottom: units(1.5);

  &__terms {
    border: 1px solid $medium-gray;
    padding: units(0.75);
  }

  &__button-wrapper {
    text-align: right;
  }

  a {
    color: $blue;
  }
  &__icon {
    height: units(1.5);
    margin-right: units(0.5);
  }

  &__highlight {
    background: darken($light-gray, 5%);
    padding: units(0.25) 0;
    margin-bottom: units(1.5);
  }

  &__reservation-date {
    .reservation-date__content {
      margin: units(1.5) auto;
    }
    h3 {
      font-size: 1.6rem;
      font-weight: normal;
    }
  }
  &__resource-name {
    text-align: center;
  }

  &__error-msg-title {
    font-weight: $font-weight-light;
  }
}
