$reservation-list-image-width: 100px;
$reservation-list-image-width-xs: 80px;
$reservation-list-padding: 20px;
$reservation-list-inner-margin: 10px;
$reservation-list-label-height: 20px;

$reservation-list-item-min-height: (
  2 * $reservation-list-padding + $reservation-list-label-height + $reservation-list-inner-margin + $reservation-list-image-width
);
$reservation-list-item-min-height-xs: (
  2 * $reservation-list-padding + $reservation-list-label-height + $reservation-list-inner-margin + $reservation-list-image-width-xs
);


.reservation-list {
  list-style: none;
  margin: 0;
  padding: 0;

  .reservation {
    background-color: $white;
    position: relative;
    margin-bottom: 50px;
    min-height: 150px;
    // min-height: $reservation-list-item-min-height;
    // padding-top: $reservation-list-padding;
    // padding-bottom: $reservation-list-padding;
    // padding-left: $reservation-list-image-width + $reservation-list-padding;

    .image-container {
      background-color: #ebedf1;
      min-height: 150px;

      img {
        margin-left: -13px;
      }
    }

    .reservation-details {
      margin-top: 10px;
      min-height: 150px;

      .reservation-state-label-container {
        font-size: 18px;
        margin-bottom: 8px;
        margin-top: -8px;
        width: 100%;

        .label {
          display: inline-block;
          line-height: $reservation-list-label-height;
          padding-top: 0;
          padding-bottom: 0;
        }
      }

      .location, .timeslot {
        width: 28.8px;
        margin-right: 5px
      }

      .reservation-access-code {
        font-weight: bold;
        margin-left: 33.8px;
      }

    }

    .action-container {
      min-height: 150px;

      .buttons {
        position: absolute;
        bottom: 0;
        margin-bottom: 15px;

        button {
          margin-left: 14px;
        }
      }
    }


    a {
      text-decoration: none;
    }
    @media (max-width: $screen-xs-max) {
      //padding-left: $reservation-list-image-width-xs + $reservation-list-inner-margin;
      min-height: $reservation-list-item-min-height-xs;
    }


    // .names {
    //   h4 {
    //     margin-top: 0;
    //     margin-bottom: $reservation-list-inner-margin;
    //     @media (max-width: $screen-xs-max) {
    //       font-size: 16px;
    //       margin-bottom: 5px;
    //       line-height: 1;
    //     }
    //   }
    //   .unit-name {
    //     font-size: 15px;
    //     font-weight: normal;
    //     color: $gray;
    //   }
    // }

    // .time {
    //   margin-bottom: $reservation-list-inner-margin;
    //   @media (max-width: $screen-xs-max) {
    //     margin-bottom: 5px;
    //   }
    // }
  }
}
