$reservation-list-label-height: units(1.5);

.reservation-list {
  list-style: none;
  margin: 0;
  padding: 0;

  .reservation {
    background-color: $white;
    position: relative;
    margin-bottom: units(3);
    min-height: 180px;
    padding: 0;

    @media (max-width: $screen-xs-max) {
      min-height: 230px;
    }

    .image-container {
      background-color: #ebedf1;
      min-height: 180px;
      max-width: 180px;

      @media (max-width: $screen-md-min) {
        display: none;
      }

      img {
        margin-left: calc(#{units(0.75)} * -1);

        height: 180px;
        width: 180px;
      }
    }

    .reservation-details {
      margin-top: 10px;
      min-height: 180px;

      .reservation-state-label-container {
        font-size: 1.8rem;
        margin-bottom: 8px;
        margin-top: -8px;
        width: 100%;
        display: flex;
      }

      .location, .timeslot {
        width: 28.8px;
        margin-right: units(0.25)
      }

      .reservation-access-code {
        font-weight: bold;
        margin-left: units(2);
      }

      .price {
        margin-left: units(2);
        font-weight: bold;
      }
    }

    .action-container {
      min-height: 180px;

      .buttons {
        position: absolute;
        bottom: 0;
        margin-bottom: units(1.5);

        button {
          margin-left: units(1);
          width: 100px;

          @media (max-width: $screen-md-max) {
            margin-bottom: units(0.75);
          }

          @media (max-width: $screen-xs-max) {
            margin-left: calc(#{units(1)} * -1);
          }
        }
      }
    }


    a {
      text-decoration: none;
    }
  }
}
