$reservation-list-item-height: 200px;
$reservation-list-item-spacing: units(1);

.reservation-list-container {
  height: 100%;
}

.reservation-list {
  list-style: none;
  margin: 0;
  padding: 0;
  
  .reservation {
    background-color: $white;
    position: relative;
    height: $reservation-list-item-height;
    padding: 0;
    padding-right: units(0.5);

    &:not(:last-child) {
      margin-bottom: units(2);
    }

    @media (max-width: $screen-xs-max) {
      min-height: 230px;
    }

    .image-container {
      background-color: #ebedf1;
      height: 100%;
      padding: 0;

      @media (max-width: $screen-md-min) {
        display: none;
      }

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }

    .reservation-details {
      padding: $reservation-list-item-spacing;

      .reservation-state-label-container {

        width: 100%;
        display: flex;

        & > * {
          margin-right: units(0.75);
        }
      }

      .location, .timeslot {
        width: 28.8px;
        margin-right: units(0.25)
      }

      .reservation-access-code {
        font-weight: bold;
        margin-left: units(2);
      }

      .price {
        margin-left: units(2);
        font-weight: bold;
      }
    }

    .action-container {
      display: flex;
      height: 100%;
      padding: $reservation-list-item-spacing;
      
      .buttons {
        position: absolute;
        bottom: 0;
        margin-bottom: units(1.5);

        button {
          margin-left: units(1);
          width: 100px;

          @media (max-width: $screen-md-max) {
            margin-bottom: units(0.75);
          }
          
          @media (max-width: $screen-xs-max) {
            margin-left: calc(#{units(1)} * -1);
          }
        }
      }
    }
    
    @media (max-width: $screen-sm-max) {
      height: auto;
      padding: units(0.5);
    }

    a {
      text-decoration: none;
    }
  }
}
