$list-item-margin: 10% / 6;

.resource-list {
  list-style: none;
  margin: $list-item-margin -$list-item-margin 0;
  padding: 0;

  .app-ResourceListItem {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    height: 150px;
    margin: 15px $list-item-margin;
    background-color: white;

    &__image-link{
      flex: 1 1;
      min-width: 180px;
      padding: 10px;
    }

    .image-container {
      position: relative;
      width: 100%;
      height: 100%;
      background-color: $gray-lighter;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: cover;
    }

    &__content {
      position: relative;
      flex: 1 2 30%;
      padding: 10px;
    }

    h4 {
      margin-top: 0;
      margin-bottom: 0;
      @media (max-width: $screen-xs-max) {
        font-size: 16px;
        line-height: 1;
      }
    }

    &__unit-name {
      font-size: 15px;
      font-weight: normal;
      color: $gray;
      margin-bottom: 5px;
      span:first-child {
        margin-right: 10px;
      }
    }

    .resource-availability {
      float: right;
      font-size: 20px;
      border-radius: 0;
      @media (max-width: $screen-xs-max) {
        font-size: 16px;
        line-height: 1;
      }
    }
    .controls {
      text-align: center;
    }
  }
}
