/**
 * Code based on https://github.com/philipwalton/solved-by-flexbox/blob/master/assets/css/components/site.css

 * 1. Avoid the IE 10-11 `min-height` bug.
 * 2. Set `flex-shrink` to `0` to prevent some browsers from
 *    letting these items shrink to smaller than their content's default
 *    minimum size. See http://bit.ly/1Mn35US for details.
 * 3. Use `%` instead of `vh` since `vh` is buggy in older mobile Safari.
 */

$layout-padding: units(2);

:root {
  --root-font-size: 10px;
  
  font-size: var(--root-font-size);
}
:root.fontSizeSmall {
  --root-font-size: 10px;
}
:root.fontSizeMedium {
  --root-font-size: 12px;
}
:root.fontSizeLarge {
  --root-font-size: 14px;
}

// All of the wrapping elements before .app need to have a height of 100%
html, body, #root {
  height: 100%;
}

body {
  font-size: 1.6rem;
  background-color: $white;
  @media (max-width: $screen-xs-max) {
    font-size: 1.4rem;
  }
}

.app {
  display: flex;
  flex-direction: column;
  height: 100%; /* 1, 3 */
}

nav,
footer {
  flex: none; /* 2 */
}

.app-content {
  flex: 1 0 auto; /* 2 */
  width: 100%;
  margin-bottom: calc(#{units(2.5)} * -1);
  min-height: 550px;
  overflow-y: hidden;
}
.app-content:after {
  content: '\00a0'; /* &nbsp; */
  display: block;
  height: 0px;
  visibility: hidden;
}

footer {
  .container {
    padding-top: $layout-padding;
    padding-bottom: $layout-padding;
  }
}

@media (min-width: $screen-lg-min ) {
  .container {
    width: 1170px;
  }
}
