@mixin varaamo-button($color, $background) {
  @include button-variant($color, $background, $background);
  height: $element-size-medium;
  line-height: $element-size-medium;
  padding: 0 $button-horizontal-padding;
  border-radius: $button-border-radius;
  font-weight: $font-weight-regular;

  &:hover, &:focus, &:active {
    outline: none;
  }
}

@mixin search-control-button($background: $medium-gray) {
  @include varaamo-button($white, $background);
  font-size: 1.4rem;
  height: 50px;
  line-height: 20px;
}

@mixin search-control-modal($background: $medium-gray) {
  width: 400px;

  @media (max-width: $screen-xs-min) {
    margin: 0;
    width: 100vw;
  }

  @media (min-width: $screen-xs-min) {
    margin: 30px auto;
  }

  &-header {
    background-color: $background;
    color: $white;
    text-align: center;
    height: 50px;
    h2 {
      margin: 0;
      line-height: 50px;
      font-size: 1.8rem;
      font-weight: $font-weight-light;
    }
  }

  &-content {
    padding: 20px;
  }
}

@mixin icon-angle-left($_color) {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cstyle type='text/css'%3E .lc%7Bfill:%23#{str-slice(inspect($_color), 2)};%7D%3C/style%3E%3Cpath class='lc' d='M224 251l88.4-88.4-30.4-30.4-88.4 88.4-30.4 30.4 30.4 30.4 88.4 88.4 30.4-30.4z'/%3E%3C/svg%3E");
  background-size: contain;
  background-repeat: no-repeat;
}

@mixin icon-angle-right($_color) {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cstyle type='text/css'%3E .lc%7Bfill:%23#{str-slice(inspect($_color), 2)};%7D%3C/style%3E%3Cpath class='lc' d='M289 251l-88.4 88.4 30.4 30.4 88.4-88.4 30.4-30.4-30.4-30.4-88.4-88.4-30.4 30.4z'/%3E%3C/svg%3E");
  background-size: contain;
  background-repeat: no-repeat;
}
