.modal-backdrop {
  z-index: z-index(modal-backdrop);
}

.modal {
  z-index: z-index(modal);
  &.modal-city-theme {
    .modal-content {
      color: $black;

      h1, h2, h3, h4, h5, h6, label {
        font-weight: 300;
      }
    }
    .modal-header {
      border: none;
      &::before {
        content: '';
        position: absolute;
        background-repeat: no-repeat;
        background-size: contain;
        left: 0;
        right: 0;
        margin: 0 auto;
        height: units(3);
        width: units(6);
        margin-top: units(1.5);
      }
      .modal-title {
        margin-top: 80px;
        text-align: center;
      }
      button.close {
        font-weight: 300;
        opacity: 1;
      }
    }
  }
  .modal-footer {
    border: none;
    text-align: center;
  }
  .btn {
    &+.btn {
      margin-left: units(0.5);
    }
  }
  .well {
    background-color: $white;
  }
}
