.Select .Select-control {
  border: 1px solid $input-border;
  border-radius: 2px;
  box-sizing: border-box;

  .Select-value {
    padding-left: 15px;
    line-height: 39px;
  }

  .Select-clear {
    font-size: 30px;
    margin-top: 7px;
    color: #000000;
  }
}

.Select {
  &.is-focused:not(.is-open) > .Select-control {
    border-color: $input-border-focus;
    box-shadow: $input-box-shadow-focus;
  }
}
