$z-index: (
    tooltip_class: 9999999,
    header: 4,
    footer: 1001,
    modal: 30010,
    modal-backdrop: 30000,
    search-page-overlay: 5,
    search-filters: 3,
    search-controls: 3,
    search-controls-overlay: 2,
    search-map: 1,
    search-map-toggle: 2,
    distance-slider-tooltip: 40000,
    reservation-page-overlay: 5,
    reservation-popover: 1000,
    resource-page-footer: -15,
    resource-calendar-overlay: 2222,
    resource-list-arrow: 1,
    resource-card-slider: 1,
    resource-map: 1,
    availability-view-input: 3,
    availability-view-icon: 10,
    availability-view-timeline: 30,
    availability-view-sticky: 10,
    availability-view-link: 1,
    availability-view-popover: 1000,
    date-picker-overlay: 100,
    notificator-date-picker: 1000,
    date-filter: 2,
    date-field-picker: 99,
    user-notificator-close: 1,
    time-picker-calendar-cancel: 2,
    time-picker-calendar-blocker: 1,
    time-picker-calendar-resizer: 50,
);

/*
===================================
    Usage
===================================
.element {
  z-index: z-index(menu);
}
*/

@function z-index($key) {
  $converted: if(type-of($key) == 'string', $key, inspect($key));

  @if not map-has-key($z-index, $converted) {
      @error '`#{$key}` is not a valid z-index token. '
          + 'Valid z-index tokens: '
          + '#{map-keys($z-index)}';
  }
  
  @return map-get($z-index, $key);
}