$z-index: (
    tooltip-class:                           170,
    distance-slider-tooltip:                 160,
    modal:                                   150,
    modal-backdrop:                          140,
    resource-calendar-overlay:               130,
    footer:                                  120,
    reservation-popover:                     110,
    availability-view-popover:               110,
    notificator-date-picker:                 110,
    date-picker-overlay:                     100,
    date-field-picker:                        90,
    time-picker-calendar-resizer:             80,
    availability-view-timeline:               70,
    availability-view-sticky:                 60,
    search-page-overlay:                      50,
    reservation-page-overlay:                 50,
    header:                                   40,
    search-filters:                           30,
    search-controls:                          30,
    availability-view-input:                  30,
    date-filter:                              20,
    time-picker-calendar-cancel:              20,
    search-controls-overlay:                  20,
    search-map-toggle:                        20,
    search-map:                               10,
    resource-list-arrow:                      10,
    resource-card-slider:                     10,
    resource-map:                             10,
    availability-view-link:                   10,
    user-notificator-close:                   10,
    time-picker-calendar-blocker:             10,
    resource-page-footer:                    -10,
);

/*
===================================
    Usage
===================================
.element {
  z-index: z-index(menu);
}
*/

@function z-index($key) {
  $converted: if(type-of($key) == 'string', $key, inspect($key));

  @if not map-has-key($z-index, $converted) {
      @error '`#{$key}` is not a valid z-index token. '
          + 'Valid z-index tokens: '
          + '#{map-keys($z-index)}';
  }
  
  @return map-get($z-index, $key);
}
