/* Import HDS first so it doesn't override heading and other such */
/* sizes defined in bootstrap. */
@import '~hds-design-tokens/lib/spacing/all';
@import '~hds-core/lib/base.css';
@import '~hds-core/lib/icons/icon.css';
@import '~hds-core/lib/icons/ui/icon-alert-circle.css';
@import '~hds-core/lib/components/notification/notification.css';
@import '~hds-core/lib/components/text-input/text-input.css';
/* Import all HDS components before integration file to ensure that  */
/* they do not re-apply vanilla HDS CSS variables that assume 16px root */
/* font size, when Varaamo uses 10px and may change the root font size */
/* to allow a more accessible experience. */
@import './hds_integration.scss';
@import './_hds-integration.css';

@import '~hel-bootstrap-3/src/sass/helsinki-variables';
@import './application-variables';
@import '~hel-bootstrap-3/src/sass/theme-bootstrap-variables';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import '~hel-bootstrap-3/src/sass/theme-custom-styles';

@import '~leaflet/dist/leaflet.css';
@import '~rc-slider/assets/index.css';
@import '~react-day-picker/lib/style.css';
@import '~react-notifications/lib/notifications.css';
@import '~react-toggle/style.css';

@import '~@fullcalendar/core/main.css';
@import '~@fullcalendar/daygrid/main.css';
@import '~@fullcalendar/timegrid/main.css';

@import './rem-text-size';
@import './spacings';

@import './layout';
@import './mixins';

@import '../../pages/pages';
@import '../../shared/shared';
@import '../../../src/domain/domain';
@import '../../../src/common/common';

@import './elements';
@import './loader';
@import './modals';
@import './react-select';
@import './react-toggle';

@import './high-contrast-theme';
