.time-slots {
  thead tr {
    border-bottom: 1px solid @gray;
  }

  tbody tr {
    border-bottom: 1px solid @gray-lighter;

    &:hover {
      cursor: pointer;
    }

    &.disabled:hover {
      cursor: not-allowed;
      background-color: inherit;
    }
  }

  .checkbox-cell {
    text-align: center;
    width: 70px;
    color: @gray-dark;
    font-size: 20px;
    padding: 0;

    span {
      top: 7px;
    }
  }

  .editing, .editing td {
    background-color: rgba(0, 114, 198, 0.2);
  }
}
