.app-MiniModal {
  .btn:hover, .btn:focus {
    outline: none;
  }

  // Show modal button
  // -----------------

  &__show-button {
    font-size: 1.4rem;
    @include varaamo-button($white, $medium-gray);

    &--theme-blue {
      @include varaamo-button($white, $blue);
    }

    &--theme-copper {
      @include varaamo-button($white, $copper);
    }

    &--theme-gold {
      @include varaamo-button($white, $gold);
    }

    &--theme-green {
      @include varaamo-button($white, $green);
    }

    &--theme-orange {
      @include varaamo-button($white, $orange);
    }

    &--theme-pink {
      @include varaamo-button($white, $pink);
    }

    &--theme-red {
      @include varaamo-button($white, $red);
    }

    &--theme-yellow {
      @include varaamo-button($white, $yellow);
    }
  }

  // The actual modal
  // ----------------

  &__modal {
    width: 400px;

    @media (max-width: $screen-xs-min) {
      margin: 0;
      width: 100vw;
    }

    @media (min-width: $screen-xs-min) {
      margin: 30px auto;
    }

    &-header {
      background-color: $medium-gray;
      color: $white;
      text-align: center;
      height: 50px;
      h2 {
        margin: 0;
        line-height: 50px;
        font-size: 1.8rem;
        font-weight: $font-weight-light;
      }
    }

    &-content {
      padding: 20px;
    }

    &-footer {
      height: 50px;

      &-close-button {
        display: block;
        width: 100%;
        height: 100%;
        text-align: center;
        line-height: 50px;
        font-weight: $font-weight-bold;
        text-transform: uppercase;
        background-color: $medium-gray;
        color: $white;
        border: none;
      }
    }

    // Modal themes
    // ------------

    @mixin modal-theme($color, $background) {
      .app-MiniModal__modal-header {
        color: $color;
        background-color: $background;
      }

      .app-MiniModal__modal-footer-close-button {
        color: $color;
        background-color: $background;
      }
    }

    &--theme-blue {
      @include modal-theme($white, $blue);
    }

    &--theme-copper {
      @include modal-theme($white, $copper);
    }

    &--theme-gold {
      @include modal-theme($white, $gold);
    }

    &--theme-green {
      @include modal-theme($white, $green);
    }

    &--theme-orange {
      @include modal-theme($white, $orange);
    }

    &--theme-pink {
      @include modal-theme($white, $pink);
    }

    &--theme-red {
      @include modal-theme($white, $red);
    }

    &--theme-yellow {
      @include modal-theme($white, $yellow);
    }
  }
}
