.app-CreateNotificationModal,
.app-CreateNotifications {
  margin-top: units(2);

  .login {
    width: 100%;
    display: flex;
    justify-content: center;

    .center {
      width: 40%;
      display: flex;
      flex-direction: column;
    }
  }

  .action-row {
    margin-top: units(1.5);
    margin-bottom: units(0.5);

    button {
      margin-right: units(0.75);
    }
  }

  .language-row {
    .language-button {
      background-color: $white;
      color: $black;
      border: 2px solid $black;
      border-bottom: none;
    }

    .active {
      background-color: $black;
      color: $white;
    }

    .language-button:active,
    .language-button:focus {
      outline: none;
    }
  }

  .button-row {
    width: 100%;
    display: flex;
    justify-content: flex-end;

    button {
      margin-left: units(0.75);
    }
  }

  .notification-list {
    margin-top: units(3);
    width: 100%;

    th {
      text-align: center;
    }

    tbody {
      tr:hover {
        background-color: $gray-light;
        cursor: pointer;
      }
    }
  }

  .modal-content {
    width: 650px;

    .modal-body {
      overflow: hidden;
    }

    .modal-container {
      margin: 0 auto;
      width: 600px;
    }
  }

  .modal-footer {
    button {
      margin-right: units(1.5);
    }
  }

  input {
    margin-bottom: units(0.75);
    width: 100%;
    border: 2px solid $black;
    height: 52px;
    padding-left: units(0.25);
  }

  .app-Select {
    input {
      height: 30px
    }
  }

  textarea {
    padding: units(0.75);
    width: 100%;
    border: 2px solid $black;
    resize: none;
  }

  button {
    color: $white;
    background-color: $black;
    width: 100px;
    height: 30px;
    border: none;
  }
}
