// Colors
// -----

$white: #ffffff;
$blue: #3c8fde;

// Typography
// ----------

$heading-font-family:    "Open Sans", Arial, Helvetica, sans-serif;
$font-family:            "Open Sans", Arial, Helvetica, sans-serif;
$font-weight-regular:    400;
$font-weight-bold:       800;
