@import './admin-resources/admin-resources-page';
@import './reservation/reservation-page';
@import './resource/resource-page';
@import './search/controls/search-controls';
@import './user-reservations/user-reservations-page';

.app-PageWrapper {
  position: relative;
  height: 100%;

  &__transparent {
    background-color: transparent;
    min-height: auto;
  }
}
