@import './about/about-page';
@import './admin-resources/admin-resources-page';
@import './home/home-page';
@import './reservation/reservation-page';
@import './resource/resource-page';
@import './search/search-page';
@import './user-reservations/user-reservations-page';

.app-PageWrapper {
  position: relative;
  background-color: white;

  &__transparent {
    background-color: transparent;
    min-height: auto;
  }
}
