.app-InfoLabel {
  .label {
    font-size: 1.4rem;
    font-weight: normal;
    border-radius: 0;
    line-height: 24px;
    display: inline-block;
    padding: 0 units(0.75);

    &-default {
      background-color: #e5e5e5;
      color: #4c4c4c;
    }

    &-success {
      background-color: #e2f5f3;
      color: #007a64;
    }

    &-danger {
      background-color: #f6e2e6;
      color: #c4123e;
    }

    &-primary,
    &-warning {
      background-color: #fff4b4;
      color: #986700;
    }
  }
}
