.app-AccessibilityShortcuts {
  text-align: center;
  background-color: $theme-info-light;
  
  &__skip-link {
    &:focus,
    &:active {
      position: static;
      width: auto;
      height: auto;
      margin: 0;
      overflow: visible;
      clip: auto;

      padding: units(0.125); 

      color: $theme-highlight-dark;
    }
  }
}