.app-ManageReservationsPage {
  h1 {
    margin: units(2) 0 units(1);
  }

  &__filters {
    background-color: #dedfe1;
    padding: 0 0 units(2.5);
  }

  &__list {
    margin-top: units(2.5);
  }
}
