$map-height: 600px;

.app-ResourceMap {
  &__map {
    height: $map-height;
    width: 100%;
    position: relative;
    z-index: z-index(resource-map);
  }

  .leaflet-marker-icon {
    div {
      color: $brand-primary;
      text-align: right;
      font-weight: bold;
      line-height: 6px;
    }

    img {
      width: 100%;
    }
  }
}
