.app-ManageReservationsList {
  $header-background: #f1f1f1;
  $color: #1a1a1a;
  $border: 1px solid rgb(229, 229, 229);
  $row-height: 64px;

  &__table {
    margin-bottom: units(0.75);

    > thead {
      background: $header-background;

      > tr > th {
        padding: units(0.5) units(1);
        height: $row-height;
        font-size: 1.4rem;
        color: $color;
        border-bottom: $border;
        vertical-align: middle;
      }
    }

    > tbody {
      > tr > td {
        padding: units(1.5) units(1);
        border-top: none;
        height: $row-height;
        border-bottom: $border;
        font-size: 1.4rem;
        line-height: 1.3;
        color: $color;
        vertical-align: top;
      }
    }
  }
}
