$horizontal-margin: 20px;

.app-ResourceInfo {
  &__images {
    @media (min-width: $screen-md-min) {
      padding-top: 15px;
    }
  }

  &__image-wrapper {
    margin-bottom: 30px;
    text-align: center;

    &--main-image {
      display: none;
    }

    &--mobile-main-image {
      display: block;
      margin-top: 30px;
      margin-left: 15px;
      margin-right: 15px;
    }

    @media (min-width: $screen-md-min) {
      &--main-image {
        display: block;
      }

      &--mobile-main-image {
        display: none;
      }
    }
  }

  &__image-button {
    border: 0;
    padding: 0;
  }

  &__image {
    max-width: 100%;
  }

  &__top-bar {
    top: 0;
    left: 0;
    right: 0;
    margin: $horizontal-margin;
  }

  h3 {
    margin: 0;
    font-size: 2.4rem;
    @media (max-width: $screen-xs-max) {
      font-size: 2rem;
    }
  }

  &__address,
  &__web {
    span {
      display: block;
    }
  }

  &__bottom-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: $horizontal-margin;
    display: flex;
    justify-content: space-between;
  }

  &__hourly-price {
    display: inline-block;
    font-size: 2rem;
    font-weight: 700;
    line-height: $element-size-medium;

    @media (max-width: $screen-xs-max) {
      font-size: 1.6rem;
    }
  }

  &__label {
    margin-left: $horizontal-margin;
    font-size: 1.4rem;
    &:first-child {
      margin-left: 0;
    }
  }

  &__content {
    margin: $horizontal-margin;
  }

  &__equipment {
    &-header {
      color: $gold;
      font-weight: 600;
      margin: 30px 0 15px 0;
    }
    &-label {
      margin-right: 10px;
    }
  }
}
