$horizontal-margin: units(1.5);

.app-ResourceInfo {
  &__images {
    min-height: 240px;

    @media (min-width: $screen-md-min) {
      padding-top: units(1);
    }
  }

  &__image-wrapper {
    margin-bottom: units(2);
    text-align: center;

    &--main-image {
      display: none;
    }

    &--mobile-main-image {
      display: block;
      margin-top: units(2);
      margin-left: units(1);
      margin-right: units(1);
    }

    @media (min-width: $screen-md-min) {
      &--main-image {
        display: block;
      }

      &--mobile-main-image {
        display: none;
      }
    }
  }

  &__image-button {
    border: 0;
    padding: 0;
    max-width: 100%;
  }

  &__image {
    max-width: 100%;
    transform: translate3d(0, 0, 0);
  }

  &__top-bar {
    top: 0;
    left: 0;
    right: 0;
    margin: $horizontal-margin;
  }

  &__address,
  &__web {

    span {
      display: block;
    }
  }

  &__bottom-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: $horizontal-margin;
    display: flex;
    justify-content: space-between;
  }

  &__hourly-price {
    display: inline-block;
    font-size: 2rem;
    font-weight: 700;
    line-height: $element-size-medium;

    @media (max-width: $screen-xs-max) {
      font-size: 1.6rem;
    }
  }

  &__label {
    margin-left: $horizontal-margin;
    font-size: 1.4rem;
    &:first-child {
      margin-left: 0;
    }
  }

  &__content {
    margin: $horizontal-margin;
  }

  &__equipment {
    &-header {
      color: $gold;
      font-weight: 600;
      margin: units(2) 0 units(1) 0;
    }
    &-label {
      margin-right: units(0.75);
    }
  }

  &__accessibility {
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 5rem;

    &__icon {
      width: units(1.5);
      height: units(1.5);
      margin-right: units(1);
    }

    &__shortcoming-sentence-group {
      display: flex;
      flex-direction: row;
    }
  }

  &__accessibility-resource-panel {
    a {
      display: block;
    }

    &__title-container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      &__shortcomings {
        display: flex;
        flex-direction: row;
        align-items: center;
      }
    }
  }
}
