@import './controls/search-controls';
@import './results/search-results';

.app-SearchPage {
  @media (min-width: $screen-md-max) {
    padding: 30px;
  }

  &__overlay {
    z-index: 5;
  }

  &__content {
    position: relative;
    max-width: $app-SearchPage-max-width;
    z-index: $max-map-z-index +1 ;
  }
}
