@import './controls/search-controls';
@import './results/search-results';

.app-SearchPage {

  background-color: $silver;

  &__overlay {
    z-index: 5;
  }

  &__content {
    position: relative;
  }

  .app-MapToggle {
    background-color: $hel-copper;
    display: block;
    margin: 0;
    position: relative;
    z-index: 2;
    &__results-count {
      padding-top: 8px;
    }
    button {
      background-color: $hel-copper;
      border-color: $hel-copper;
      color: $black;
    }
    button:hover,
    button:active {
      background-color: darken($hel-copper, 5);
      border-color: darken($hel-copper, 5);
      box-shadow: none;
    }
    .btn.disabled,
    .btn[disabled] {
      background-color: $hel-silver;
      border-color: $hel-silver;
      opacity: 1;
      cursor: default;
    }
    .btn.disabled:hover,
    .btn[disabled]:hover,
    .btn.disabled:active,
    .btn[disabled]:active {
      border-color: $hel-silver;
    }
  }

}
