@import './controls/search-controls';

.search-page {
  h1 {
    @media (max-width: $screen-xs-max) {
      text-align: center;
    }
  }

  .search-button {
    margin-bottom: 30px;
  }

  &__overlay {
    z-index: 5;
  }

  .app-SearchPage__content {
    position: relative;
    z-index: $max-map-z-index +1 ;
  }

  .map-toggle {
    @include button-variant($gray, $white, $white);
    display: block;
    margin: 0 auto;
    box-shadow: 0px 1px 10px 1px rgba(0, 0, 0, 0.2);
    border-radius: 100px;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 1.3rem;
    .app-ResultsCount {
      font-size: 1.7rem;
      color: $brand-primary;
    }
    &:hover, &:focus, &:active {
      background-color: $white;
    }
  }
}
