.reservation-popover {
  z-index: z-index(reservation-popover);

  .popover-content {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
  }

  &__cancel {
    cursor: pointer;
  }

  &__length {
    color: $brand-primary;
  }

  &__price {
    color: $hel-tram;
  }
}
