.app-ButtonGroupField {
  &__label {
    margin-bottom: 10px !important;
  }

  &__buttons {
    display: block;
    overflow: hidden;
    margin: 0 -2px;
  }

  &__button {
    margin: 0 2px !important;
    font-size: 14px;
    font-weight: 500;

    &.active,
    &:hover {
      background-color: #000000 !important;
      color: #dedfe1 !important;
    }
  }
}
