.app-ButtonGroupField {
  &__buttons {
    display: block;
    overflow: hidden;
    margin: 0 calc(#{units(0.125)} * -1);
  }

  &__button {
    margin: 0 units(0.25) units(0.25) 0 !important;
    font-size: 1.4rem;
    font-weight: 500;

    &.active,
    &:hover {
      background-color: #000000 !important;
      color: #dedfe1 !important;
    }
  }
}
