$purposeCellHeight: 350px;

.app-HomePage {
  background-color: $white;
  background-image: url("./images/etusivu_tausta.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;

  @media (max-width: $screen-md-min) {
    background-size: auto;
  }

  &__content {
    color: $white;
    padding-top: 30px;
    padding-bottom: 30px;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
    h1 {
      margin: 2px 0;
    }
  }

  .app-HomeSearchBox {
    margin: 60px 0;
    &__textfield {
      background-color: $white;
      border-width: 2px;
      display: inline-block;
      padding: 6px;
      max-width: 500px;

      @media (max-width: $screen-md-min) {
        max-width: 300px;
      }
    }
    button {
      display: inline-block;
      margin-left: 12px;
      text-transform: uppercase;
    }
  }

  &__koro {
    @include koro("storm", $white, 400);
    height: 72px;
    width: 100%;
  }

  .app-HomePageContent {
    padding-bottom: 30px;
    text-align: center;

    h4 {
      margin-top: 0;
    }

    &__banner {
      padding-top: 15px;
      padding-bottom: 15px;
      display: flex;
      height: $purposeCellHeight;

      &__linkWrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        flex: 1;
        background-color: $hel-copper;
        height: 100%;
        position: relative;
        text-decoration: none;

        &:hover, &:active, &:focus {
          color: $black;
        }
        img, svg {
          height: 40%;
          width: 100%;
        }
        h5 {
          color: $black;
        }

        button {
          color: $white;
        }

        &:hover,
        &:focus {
          h5 {
            color: $black;
          }

          button {
            color: $white;
          }
        }
      }
      button {
        text-transform: uppercase;
      }
    }
  }
}
