.app-ConfirmReservationModal {
  .modal-dialog {
    @media (min-width: $screen-md-min) {
      width: 800px;
    }
  }

  &__editing-texts {
    padding-bottom: units(1.5);
    margin-bottom: units(1.5);
    border-bottom: 1px solid $gray-lighter;
  }

  .reservation-form {
    .well {
      margin-left: calc(#{units(1)} * -1);
      margin-right: calc(#{units(1)} * -1);
      padding: units(1);
    }

    .form-controls {
      padding-right: 0;
      padding-bottom: 0;
    }

    .app-TimeControls {
      display: flex;

      &__begin-time-control, &__end-time-control {
        flex: 0 1 140px;
      }

      &__separator {
        width: 40px;
        text-align: center;
        line-height: 43px;
      }
    }

    .terms-and-conditions {
      .wrapped-text {
        max-height: 300px;
        overflow-y: scroll;
        margin-bottom: units(0.75);
        border: 1px solid $gray-light;
        padding: units(0.75);
      }
    }

    .terms-and-conditions-input-wrapper {
      .col-sm-offset-3 {
        margin-left: 0;
      }
      label {
        font-weight: bold;
      }
    }
  }
}
