$map-height: 600px;

.app-SearchMapResults {
  &__map {
    height: $map-height;
    width: 100%;
    position: relative;
    z-index: z-index(search-map);
  }

  .leaflet-marker-icon {
    div {
      color: $brand-primary;
      text-align: right;
      font-weight: bold;
      line-height: 6px;
    }

    img {
      width: 100%;
    }
  }

  &__resourceList {
    position: relative;

    .app-ResourceCompactList {
      position: fixed;
      bottom: 0;
      left: 0;
      margin: 0 0 15px 15px;
      width: 100%;
      max-width: $app-SearchPage-max-width;

      @media (min-width: $screen-sm-min) {
        width: calc(100% - 30px);
      }
    }
  }
}
