.app-SideNavbar {
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    padding: 0 20px 10px 20px;
  }

  .app-Sidebar__sidebar {
    background-color: $brand-primary;
  }

  &__toggle {
    $toggle-size: 70px;
    width: $toggle-size;
    height: $toggle-size;
    position: fixed;
    background-color: $brand-primary;
    right: 10px;
    top: 10px;
    z-index: 20002;
    font-size: 30px;
    text-align: center;
    line-height: $toggle-size;
    color: $white;
    border-radius: 50%;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    box-shadow: 0px 1px 10px 1px rgba(0, 0, 0, 0.2);
    font-size: 14px;
    &:hover, &:focus {
      color: $white;
      text-decoration: none;
    }
  }
  &__initials {
    font-size: 25px;
  }
}
