.app-SideNavbar {
  &__close-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $white;
    width: 25px;
    &:hover, &:focus {
      color: $white;
      text-decoration: none;
    }
    span {
      transform: rotate(-90deg);
      text-transform: uppercase;
      font-weight: bold;
      font-size: 14px;
    }
  }
  &__sidebar-content {
    display: flex;
  }
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    overflow-y: scroll;
    padding: 0 20px 10px 20px;
  }

  .app-Sidebar__sidebar {
    background-color: $brand-primary;
  }

  &__toggle {
    width: $app-SideNavbar-toggle-width;
    height: $app-SideNavbar-toggle-width;
    position: fixed;
    background-color: $brand-primary;
    right: 0;
    top: 0;
    margin: $app-SideNavbar-toggle-margin;
    z-index: 20002;
    font-size: 30px;
    text-align: center;
    line-height: $app-SideNavbar-toggle-width;
    color: $white;
    border-radius: 50%;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    box-shadow: 0px 1px 10px 1px rgba(0, 0, 0, 0.2);
    font-size: 14px;
    &:hover, &:focus {
      color: $white;
      text-decoration: none;
      outline: none;
    }
  }
  &__initials {
    font-size: 25px;
  }
}
