.app-SearchPage {
  background-color: $silver;
  height: 100%;

  &__overlay {
    z-index: z-index(search-page-overlay);
  }

  &__results {
    position: relative;
  }

  @media (max-width: $screen-xs-max) {
    /* fix for map */
    .app-ResourceCompactList {
      max-width: 90%;
      font-size: 1.2em;
    }
  }
}
