.app-ReservationInformationModal {
  .app-ManageReservationsStatus {
    margin: units(1) 0;
    text-align: right;
  }
  &__information {
    &__account {
      background: $medium-gray;
      padding: units(0.5) 0;
    }
  }

  &__edit-reservation-btn {
    text-align: right;
  }
  
  &__field {
    margin: units(1) 0;

    &__label {
      font-weight: $font-weight-bold;
      text-align: right;
    }
    &__value {
      text-align: left;
    }
  }

  &__comments-section {
    margin-top: units(1.5);
    border-top: 1px solid #e5e5e5;
    padding-top: units(1);
  }

  &__comments-field {
    resize: vertical;
  }

  &__save-comment {
    margin-top: units(1);
    text-align: right;
  }
}
