.app-ReservationInformation {
  form {
    padding-bottom: 15px;
  }
  .form-controls {
    text-align: right;
  }
  .btn {
    margin-left: 15px;
  }
}

.app-ReservationDetails {
  margin-top: 158px;
}

@media (max-width: $screen-sm-min) {
  .app-ReservationDetails {
    margin-top: 20px;
  }
}