.app-ReservationInformation {
  form {
    padding: 15px 0;
  }
  .btn {
    min-width: 150px;
    margin-right: 15px;
  }
}

.app-ReservationDetails {
  background: $light-gray;
  padding: 20px 40px 40px;
  margin-bottom: 40px;
  &__name,
  &__value {
    display: inline-block;
    margin-bottom: 10px;
  }
}

$custom-checkbox-white: #FFFFFF;
$custom-checkbox-black: #000000;
$custom-checkbox-blue: #007bff;

.custom-checkbox-container {
  display: block;
  position: relative;
  padding-left: 35px;
  padding-bottom: 12px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
    &:checked {
      &~.custom-checkmark {
        background-color: $custom-checkbox-white;
        border: 2px solid $custom-checkbox-blue;
        &:after {
          display: block;
        }
      }
    }
  }
  &:hover {
    input {
      &~.custom-checkmark {
        background-color: $custom-checkbox-white;
      }
    }
  }
  .custom-checkmark {
    &:after {
      left: 5px;
      top: 1px;
      width: 5px;
      height: 10px;
      border: solid $custom-checkbox-black;
      border-width: 0 3px 3px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }
}
.custom-checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: $custom-checkbox-white;
  border: 2px solid $custom-checkbox-black;
  &:after {
    content: "";
    position: absolute;
    display: none;
  }
}
