.app-ReservationInformation {
  form {
    padding-bottom: 15px;
  }
  .btn {
    min-width: 150px;
    margin-left: 15px;
  }
}

.app-ReservationDetails {
  background: $light-gray;
  padding: 20px 40px 40px;
  margin-bottom: 40px;

  &__value {
    display: inline-block;
    margin-bottom: 10px;
  }
}
