.reservation-info-modal {
  .modal-dialog {
    @media (min-width: $screen-sm-min) {
      width: $container-sm;
    }
  }

  .reservation-state-label-container {
    text-align: right;
    font-size: 2.4rem;
    margin-bottom: 10px;
  }

  .reservation-edit-form {
    padding: 10px;
    margin-left: -10px;
    margin-right: -10px;
    margin-bottom: 15px;

    &.editing {
      background-color: $gray-lighter;
    }

    .form-group {
      margin-bottom: 5px;
    }

    .col-sm-3 {
      @media (min-width: $screen-sm-min) {
        text-align: right;
      }
    }

    .form-controls {
      button + button {
        margin-left: 5px;
      }
    }

    .well {
      background-color: $light-gray;
    }
  }

  .comments-form {
    padding-top: 15px;
    border-top: 1px solid #e5e5e5;
  }

  dd {
    margin-bottom: 10px;
  }

  .form-controls {
    text-align: right;
  }
}
