.reservation-info-modal {
  .modal-dialog {
    @media (min-width: $screen-sm-min) {
      width: $container-sm;
    }
  }

  .reservation-labels-wrapper {
    width: 100%;
    display: flex;
    justify-content: flex-end;

    & > *:not(:last-child) {
      margin-right: units(0.75);
    }
  }

  .reservation-state-label-container {
    text-align: right;
    font-size: 2.4rem;
    margin-bottom: units(0.75);
  }

  .reservation-edit-form {
    padding: units(0.75);
    margin-left: calc(#{units(0.75)} * -1);
    margin-right: calc(#{units(0.75)} * -1);
    margin-bottom: units(1);

    &.editing {
      background-color: $gray-lighter;
    }

    .form-group {
      margin-bottom: units(0.25);
    }

    .col-sm-3 {
      @media (min-width: $screen-sm-min) {
        text-align: right;
      }
    }

    .form-controls {
      button + button {
        margin-left: units(0.25);
      }
    }

    .well {
      background-color: $light-gray;
    }
  }

  .comments-form {
    padding-top: units(1);
    border-top: 1px solid #e5e5e5;
  }

  dd {
    margin-bottom: units(0.75);
  }

  .form-controls {
    text-align: right;
  }
}
