.availability-view {
  $slot-height: 50px;
  $slot-border-size: 1px;
  $slot-border: $slot-border-size solid white;
  $slot-comment-bubble-size: 18px;
  $av-header-height: $input-height-base;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  width: 100%;

  &-single {
    display: block;

    .timeline-group {
      overflow-x: auto;
    }
  }
  .left {
    width: 19%;
  }
  .right {
    width: 80%;
  }
  // max-width calculated based on width: 19% and width: 120px
  @media (max-width: 630px) {
    .left {
      width: 120px;
    }
    .right {
      width: calc(100% - 122px);
    }
  }
  .top-left, .date-selector {
    display: flex;
    align-items: center;
    height: $av-header-height;
    margin-bottom: $padding-base-vertical;
    background-color: $brand-primary;
    color: white;
    padding: 0 $padding-small-horizontal;
    font-size: $font-size-small;
  }
  .date-selector {
    justify-content: space-between;
    text-transform: lowercase;

    a:hover, a:focus {
      text-decoration: none;
    }

    .previous, .next {
      color: white;
      cursor: pointer;
      line-height: $av-header-height;
      text-overflow: ellipsis;
      overflow-x: hidden;
      white-space: nowrap;
    }
    .previous::before, .next::after {
      font-family: 'Glyphicons Halflings';
      vertical-align: middle;
    }
    .previous::before {
      content: "\e079";
      padding-right: 5px;
    }
    .next::after {
      content: "\e080";
      padding-left: 5px;
    }
  }

  .date-picker {
    border: none;
    color: black;
    cursor: pointer;
    line-height: $av-header-height;
    input {
      background: none;
      color: white;
      cursor: pointer;
      text-align: left;
      width: 110px;
      height: $av-header-height;
      box-sizing: content-box;
      z-index: 3;
    }
    .react-date-field__calendar-icon {
      z-index: 10;
      border: none;
      &:hover {
        background-color: transparent;
        .react-date-field__calendar-icon-inner {
          background-color: transparent;
        }
      }
      &:active {
        border: none;
      }
      &::before, &::after {
        visibility: hidden;
      }
      .react-date-field__calendar-icon-inner {
        line-height: $av-header-height;
        height: $av-header-height;
        margin: 0;
        padding: 0;
        width: 150px;
        text-align: right;
        cursor: pointer;
        margin-left: -120px;
        z-index: 10;
        margin-left: -140px;
        position: static;
        background-color: transparent;

        &::after {
          font-family: 'Glyphicons Halflings';
          content: "\e252";
          visibility: visible;
          color: white;
          font-size: 18px;
          position: absolute;
          right: 20px;
        }
      }
    }
    &.react-date-field--expanded {
      .react-date-field__calendar-icon-inner {
        &::after {
          content: "\e253";
        }
      }
    }
  }
  .group-info {
    background-color: $gray-lighter;

    .group-name, .resource-info {
      height: $slot-height;
    }
    .group-name {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      line-height: $headings-line-height;
      font-weight: $headings-font-weight;
      font-size: $font-size-base;
      color: $headings-color;

      .name {
        text-align: right;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
  .resource-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    font-size: $font-size-small;
    padding: $padding-xs-vertical $padding-base-horizontal;
    line-height: 16px;

    &-selected {
      background-color: $gray-light;
    }
    .favorite-icon {
      color: $favorite-color;
      padding: 3px;
      font-size: 12px;
    }
    .name {
      text-align: right;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 100%;

      a {
        color: $text-color;
        font-size: $font-size-small;
        font-weight: $headings-font-weight;
      }
    }
    .details {
      color: $gray;
      .unpublished-label {
        margin-left: 10px;
      }
    }
  }
  .timeline-groups {
    width: 100%;
    overflow-x: auto;
  }
  .timeline-group {
    position: relative;
    &-current-time {
      position: absolute;
      height: 100%;
      width: 2px;
      background-color: $black;
      opacity: 0.25;
      z-index: 30;
    }
    .sticky {
      overflow: hidden;
      z-index: 10;
    }
    .hours {
      display: flex;

      .hour {
        display: flex;
        align-items: center;
        height: $slot-height;
        flex-shrink: 0;
        margin: 0;
        border: $slot-border;
        background-color: $gray-lighter;
        padding: $padding-small-vertical $padding-small-horizontal;
        font-size: $font-size-small;

        &-start-selected {
          background: linear-gradient(to right, $gray-light 49.9%, $gray-lighter 50%);
        }
        &-end-selected {
          background: linear-gradient(to left, $gray-light 49.9%, $gray-lighter 50%);
        }
      }
    }
  }
  .availability-timeline {
    display: flex;
  }
  .reservation-link, .reservation-slot {
    height: $slot-height;
    position: relative;
  }
  .reservation-link.with-comments::after {
    font-family: 'Glyphicons Halflings';
    content: "\e111";
    position: absolute;
    top: -($slot-comment-bubble-size / 2 + $slot-border-size * 2);
    right: -($slot-comment-bubble-size / 2 + $slot-border-size * 2);
    width: $slot-comment-bubble-size;
    height: $slot-comment-bubble-size;
    font-size: $slot-comment-bubble-size / 2;
    color: white;
    line-height: $slot-comment-bubble-size;
    text-align: center;
    background-color: $brand-primary;
    border: $slot-border;
    border-width: $slot-border-size * 2;
    border-radius: 50%;
    z-index: 1;
    box-sizing: content-box;
  }
  .reservation, .reservation-slot {
    display: inline-flex;
    margin: 0;
    border: $slot-border;
    border-radius: 2px;
    flex-shrink: 0;
  }
  .reservation {
    height: $slot-height;
    background-color: $theme-info;
    color: white;
    font-size: $font-size-small;
    align-items: center;
    padding: $padding-small-vertical $padding-small-horizontal;
    overflow: hidden;
    cursor: pointer;

    &-link:hover {
      text-decoration: none;
    }
    &.requested {
      background-color: $theme-warning;
    }
    &.disabled {
      background-color: $red;
    }
    &.reserved {
      background-color: $brand-success;
    }
    .names {
      height: 100%;
      overflow: hidden;
      text-overflow: clip;
      white-space: nowrap;
    }
  }
  .reservation-slot {
    background-color: $gray-lighter;
    overflow: hidden;

    &-selectable {
      background-color: $gray-light;
      cursor: pointer;
    }
    &-selected {
      background-color: $brand-primary;
    }
    .a11y-text {
      position: relative;
      left: 100px;
    }
  }
}

.reservation-slot-popover {
  z-index: 1000;
  .popover-content {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
  }
  &-cancel {
    cursor: pointer;
  }
  .reservation-slot-popover-length {
    color: $brand-primary;
  }
}
.reservation-popover {
  z-index: 1000;
  hr {
    margin-top: 5px;
    margin-bottom: 5px;
  }
}
