.app-ReservationControls {
  $vertical-spacing: units(1.5);
  $button-gap: units(0.75);
  $button-width: 100px;

  align-content: end;
  display: grid;
  grid-auto-rows: max-content;
  grid-template-columns: 1fr;
  grid-gap: $button-gap;
  width: 100%;

  @media (min-width: $screen-sm-min) {
    grid-template-columns: 1fr 1fr;

    & button {
      grid-row-start: 2;
    }
  }

  & #info {
    grid-area: 1 / 1;
  }
}