.app-ResourceMap {
  &__map {
    height: 100vh;
    width: 100vw;
    left: 0;
    right: 0;
    top: 0;
    position: fixed;
    pointer-events: none;
    z-index: -2;
  }

  &__overlay {
    height: 100vh;
    width: 100vw;
    overflow: visible;
    left: 0;
    right: 0;
    top: 0;
    position: fixed;
    z-index: -1;
    pointer-events: none;
    background-color: white;
    opacity: 0.8;
    transition: opacity 0.3s linear;
  }

  &__showMap {
    .app-ResourceMap__map {
      pointer-events: auto;
      z-index: 0;
    }
    .app-ResourceMap__overlay {
      opacity: 0;
    }
  }

  .leaflet-marker-icon {
    div {
      color: $brand-primary;
      text-align: right;
      font-weight: bold;
      line-height: 6px;
    }
    img {
      width: 100%;
    }
  }
}
