.app-DateFilter {
  display: inline-block;
  margin-bottom: 0;
  position: relative;
  width: 100%;

  &__icon {
    width: 22px;
  }

  &__title {
    border-right-width: 0;
    text-align: left;
    vertical-align: middle;

    img {
      margin-right: 6px;
    }

    img,
    span {
      vertical-align: middle;
    }
  }

  &__triangle {
    text-align: right;
  }

  &__datePicker {
    background: $white;
    border: 2px solid $black;
    border-top: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 100% !important;
    z-index: 2;
    padding: 20px;
  }

  .DayPicker {
    display: block;
    padding: 0;
    max-width: 400px;
    margin: 0 auto;
    width: 100%;

    &:focus {
      outline: none;
    }
  }

  .DayPicker-NavBar {
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  .DayPicker-Caption {
    height: auto;
    font-weight: 600;
    line-height: 3rem;
    font-size: 16px;
    text-transform: capitalize;
    text-align: center;
  }

  .DayPicker-NavButton--prev {
    @include icon-angle-left($black);
    width: $line-height-computed;
    height: $line-height-computed;
    position: static;
    margin-right: 0;
  }

  .DayPicker-NavButton--next {
    @include icon-angle-right($black);
    width: $line-height-computed;
    height: $line-height-computed;
    position: static;
  }

  .DayPicker-Month {
    margin: 0;
    border-collapse: separate;
    width: 100%;
  }

  .DayPicker-Day {
    border: 2px solid $white;
    margin: 1px;
    line-height: 1rem;
    color: $black;
    background-color: $light-gray;
    border-radius: 0;
    font-size: 1.6rem;

    &:focus {
      outline: none;
    }

    &--available:not(.DayPicker-Day--disabled) {
      background-color: $light-gray;

      &.DayPicker-Day--selected {
        background-color: $light-gray;
      }
    }

    &--outside {
      color: $medium-gray;
    }

    &--disabled {
      cursor: pointer;
      background-color: $medium-gray;
      color: $dark-gray;
    }

    &--selected,
    &--selected:not(.DayPicker-Day--disabled):not(.DayPicker-Day--outside) {
      color: $white;
      background-color: $dark-gray;
    }
  }

  .DayPicker-Day--today {
    border: 2px solid $black;
  }

  .DayPicker-WeekdaysRow {
    padding: 0.2rem;
    font-size: 1.4rem;
  }

  .DayPicker-Weekdays {
    text-transform: uppercase;
    font-weight: normal;

    abbr {
      border: none;
      cursor: default;
      vertical-align: text-top;
    }
  }

  .DayPicker-Weekday {
    color: $black;
  }

  .DayPicker-WeekNumber {
    font-size: 14px;
  }
}
