.app-TimeRangeFilter {
  max-width: 400px;

  @media (min-width: $screen-sm-min) {
    margin: 0 auto;
  }

  &__range {
    visibility: hidden;
    display: flex;
    align-items: baseline;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 8px;

    &-separator {
      padding: 0;
      margin: 0 6px;
    }

    .app-SelectFilter {
      flex: 1 2 25%;

      &:last-child {
        margin-left: 15px;
      }
    }
  }

  &--checked {
    .app-TimeRangeFilter__range {
      visibility: visible;
    }
  }
}
