.app-TimeRangeFilter {
  max-width: 400px;

  @media (min-width: $screen-sm-min) {
    margin: 0 auto;
  }

  &__range {
    display: flex;
    align-items: baseline;
    flex-direction: row;
    justify-content: space-between;
    margin-top: units(0.5);

    &-separator {
      padding: 0;
      margin: 0 units(0.5);
    }

    .app-Select {
      &__single {
        &-value {
          &--is-disabled {
            color: $gray !important;
          }
        }
      }
    }




    .app-SelectFilter {
      flex: 1 2 25%;

      &:last-child {
        margin-left: units(1);
      }
    }
  }
}
