.app-ToggleFilter {
  padding-top: units(1);

  &__label {
    font-weight: normal;
  }

  @media (max-width: $screen-md-max) {
    &__toggle {
      float: left;
    }

    &__label {
      display: block;
      padding-left: 60px;
    }
  }
}
