.app-SearchMapToggle {
  background-color: $hel-copper;
  display: block;
  margin: 0;
  position: relative;
  z-index: z-index(search-map-toggle);

  &__results-count {
    padding-top: 8px;
  }

  &__button {
    background-color: $hel-copper;
    border-color: $hel-copper;
    color: $black;

    &:hover,
    &:active {
      background-color: darken($hel-copper, 5);
      border-color: darken($hel-copper, 5);
      box-shadow: none;
    }
  }

  &__button--selected.btn {
    background-color: $hel-silver;
    border-color: $hel-silver;
    opacity: 1;
    cursor: default;

    &:hover,
    &:active {
      background-color: $hel-silver;
      border-color: $hel-silver;  
    }
  }
}
