.app-ResourceCard {
  $image-items-margin: 5px;

  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  height: $app-ResourceCard-height;
  margin: 20px 0;
  background-color: white;

  &__image-link{
    flex: 1 1;
    min-width: 140px;
    max-width: 200px;
    padding: 10px;
    @media (min-width: $screen-xs-min) {
      min-width: 180px;
    }
  }

  .image-container {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: $gray-lighter;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
  }

  &__peopleCapacity {
    font-size: 1.2rem;
    text-align: center;
    position: absolute;
    right: $image-items-margin;
    top: $image-items-margin;
    .fa {
      margin-left: 2px;
    }
  }

  &__hourly-price {
    position: absolute;
    bottom: $image-items-margin;
    left: $image-items-margin;
    color: white;
    font-size: 1.6rem;
    font-weight: 700;
    text-decoration: none;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    @media (max-width: $screen-xs-max) {
      font-size: 1.4rem;
    }
  }

  &__content {
    position: relative;
    flex: 1 2 30%;
    padding: 10px;
  }

  h4 {
    margin-top: 0;
    margin-bottom: 0;
    @media (max-width: $screen-xs-max) {
      font-size: 1.6rem;
      line-height: 1;
    }
  }

  &__unit-name {
    font-size: 1.2rem;
    font-weight: normal;
    color: $gray;
    margin-bottom: 5px;
    span:first-child {
      margin-right: 10px;
    }
  }

  .resource-availability {
    display: inline-block;
    color: $white;
    font-size: 1.2rem;
    margin-top: 10px;
    padding: 10px;
  }
  .controls {
    text-align: center;
  }
}
