.app-TimeSlots {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
  margin-bottom: 30px;
  text-align: center;

  &--date {
    flex: 0 0 14%;

    @media (max-width: $screen-md-min) {
      display: none;
      flex: 0 0 33%;
    }
    &.app-TimeSlots--date--selected,
    &.app-TimeSlots--date--selected--next--day,
    &.app-TimeSlots--date--selected--second--day {
      @media (max-width: $screen-md-min) {
        display: block;
      }
    }
    &.app-TimeSlots--date--selected--next--week {
      @media (min-width: $screen-md-min) {
        display: none;
      }
    }
  }

  &--closed {
    color: $dark-gray;
    font-size: 14px;
    font-weight: normal;
    margin-top: 20px;
  }

  &--date--header {
    margin: 0 0 4px 0;
    padding: 10px;
  }

  &--date--selected > &--date--header {
    color: white;
    background-color: $dark-gray;
  }
}

.app-TimeSlotPlaceholder {
  pointer-events: none;

  @media (max-width: $screen-sm-max) {
    @for $i from 1 through 48 {
      &--mobile-offset-#{$i} {
        margin-top: $i * -36px;
      }
    }
  }
}
