.app-TimeSlots {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
  margin-bottom: 30px;
  text-align: center;

  &--date {
    flex: 0 0 14%;

    @media (max-width: $screen-md-min) {
      display: none;
      flex: 0 0 33%;
    }
    &.app-TimeSlots--date--selected,
    &.app-TimeSlots--date--selected--next--day,
    &.app-TimeSlots--date--selected--second--day {
      @media (max-width: $screen-md-min) {
        display: block;
      }
    }
    &.app-TimeSlots--date--selected--next--week {
      @media (min-width: $screen-md-min) {
        display: none;
      }
    }
  }

  &--closed {
    color: $dark-gray;
    font-size: 14px;
    font-weight: normal;
    margin-top: 20px;
  }

  &--date--header {
    margin: 0 0 4px 0;
    padding: 10px;
  }

  &--date--selected > &--date--header {
    color: white;
    background-color: $dark-gray;
  }

  .app-TimeSlot {
    $slot-height: 36px;
    position: relative;
    height: $slot-height;
    width: 100%;
    line-height: $slot-height;
    color: $black;
    font-size: 16px;
    background-color: $silver;

    &:hover:not(.app-TimeSlot--disabled) {
      background-color: $dark-gray;
      color: $white;
    }

    &--disabled {
      &:hover {
        cursor: not-allowed;
      }
    }

    &--past {
      &:hover {
        cursor: not-allowed;
        background-color: $gray-light;
      }
    }
    &--disabled,
    &--past {
      background-color: $gray-light;
      color: $dark-gray;
      .app-TimeSlot__icon {
        @include icon-ban($dark-gray);
      }
    }
    &--reserved {
      color: $white;
      background-color: $red;
    }
    &--reserved:not(.app-TimeSlot--editing) {
      .app-TimeSlot__icon {
        @include icon-ban($white);
      }
    }

    &--own-reservation {
      background-color: $theme-info;
    }
    &--own-reservation:not(.app-TimeSlot--editing) {
      &:hover {
        cursor: not-allowed;
        background-color: $theme-info;
      }
      .app-TimeSlot__icon {
        @include icon-ban($white);
      }
    }

    &--own-reservation.app-TimeSlot--disabled {
      .app-TimeSlot__icon {
        @include icon-ban($white);
      }
    }

    &--selected {
      color: $white;
      background-color: $dark-gray;
      .app-TimeSlot__icon {
        @include icon-check($white);
      }
    }

    &--icon {
      display: inline-block;
      vertical-align: text-top;
      margin-right: 2px;
      height: 20px;
      width: 20px;
    }

    &--placeholder {
      background: transparent;
    }

    .app-TimeSlot__action {
      display: block;
      height: 100%;
      width: 100%;
      border: none;
      outline: none;
      padding: 0;
      background-color: transparent;
    }

    .app-TimeSlot__clear {
      position: absolute;
      top: -8px;
      right: -8px;
      height: 35px;
      width: 35px;
      padding: 0;
      background-color: transparent;
      border: none;
      outline: none;
      text-align: center;

      .app-TimeSlot__clear-icon {
        display: inline-block;
        height: 18px;
        width: 18px;
        vertical-align: middle;
        @include icon-times($white);
      }
    }
  }
}

.app-TimeSlotPlaceholder {
  pointer-events: none;

  @media (max-width: $screen-sm-max) {
    @for $i from 1 through 48 {
      &--mobile-offset-#{$i} {
        margin-top: $i * -36px;
      }
    }
  }
}
