.app-TimeSlots {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
  margin-bottom: 30px;

  .app-TimeSlot {
    $slot-height: 32px;
    flex: 0 0 23%;
    margin-bottom: 10px;
    height: $slot-height;
    line-height: $slot-height;
    outline: none;
    border: none;
    padding: 0;
    border-radius: 8px;
    color: $white;
    font-size: 20px;
    background-color: $green;

    &:hover {
      background-color: darken($green, 10%);
    }

    &--disabled {
      opacity: 0.7;

      &:hover {
        cursor: not-allowed;
      }
    }

    &--past, &--reserved {
      background-color: $gray-light;
      &:hover {
        cursor: not-allowed;
        background-color: $gray-light;
      }
    }

    &--own-reservation {
      background-color: $theme-info;

      &:hover {
        cursor: not-allowed;
        background-color: $theme-info;
      }
    }
  }
}
