.recurring-reservation-controls {
  .Select-control {
    margin-bottom: $form-group-margin-bottom;
  }
  label {
    white-space: nowrap;
    overflow: hidden;
  }
  .date-picker input {
    width: 294px;
    padding: 5px;
    border: 1px solid #000000;
  }
}
