.reservation-filters {
  @include clearfix();
  padding-bottom: units(1.5);

  @media (min-width: $screen-sm-min) {
    h4 {
      float: left;
      margin-right: units(1.5);
    }

    .reservation-state-select {
      float: right;
      width: 300px;
    }
  }
}
