$purposeCellHeight: 350px;

.app-HomePage {
  background-color: $white;
  background-image: url("./images/etusivu_tausta.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;

  @media (max-width: $screen-md-min) {
    background-size: auto;
  }

  &__content {
    color: $white;
    padding-top: 30px;
    padding-bottom: 30px;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
    h1 {
      margin: units(0.125) 0;
    }
  }

  .app-HomeSearchBox {
    margin: units(4) 0;
    
    &__textfield {
      background-color: $white;
      border-width: 2px;
      display: inline-block;
      padding: units(0.5) units(1);
      width: 32em;

    }
    
    &__button {
      display: inline-block;
      margin-left: units(0.75);
      text-transform: uppercase;
    }
    
    @media (max-width: $screen-sm-min) {
      &__textfield {
        width: 100%;
      }
      
      &__button {
        width: 100%;
        margin-left: 0;
        margin-top: units(0.75);
      }
    }
  }

  &__koro {
    @include koro("storm", $white, 400);
    height: 72px;
    width: 100%;
  }

  .app-HomePageContent {
    padding-bottom: 30px;
    text-align: center;

    h4 {
      margin-top: 0;
    }

    &__banner {
      padding-top: units(1);
      padding-bottom: units(1);
      display: flex;
      height: $purposeCellHeight;

      &-icon {
        height: 30%;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      &__linkWrapper {
        display: flex;
        flex-direction: column;
        flex: 1;
        justify-content: space-around;
        background-color: $hel-copper;
        height: 100%;
        position: relative;
        text-decoration: none;

        &:hover, &:active, &:focus {
          color: $black;
        }
        img {
          height: 100%;
          width: 100%;
        }

        svg {
          height: 50%;
          width: 100%;
        }

        h5 {
          color: $black;
        }

        button {
          color: $white;
        }

        &:hover,
        &:focus {
          h5 {
            color: $black;
          }

          button {
            color: $white;
          }
        }
      }
      button {
        text-transform: uppercase;
      }
    }
  }
}
