$carousel-image-min-height: 260px;
$carousel-image-mid-height: 350px;
$carousel-image-max-height: 420px;
$resource-page-width: 700px;
$margin-between-items: 10px;
$content-padding: 10px;

@import './resource-header/resource-header';
@import './resource-info/image-carousel';
@import './resource-info/resource-info';
@import './resource-map-info/resource-map-info';

.app-ResourcePage {
  a {
    color: $blue;
  }

  h3 {
    margin: 0;
    font-size: 2.4rem;

    @media (max-width: $screen-xs-max) {
      font-size: 2rem;
    }
  }

  &__content {
    padding: 30px 0;
    background-color: $white;
    margin: 15px 0 30px;
  }

  .date-header {
    margin-bottom: 20px;
    font-size: 1.8rem;
    color: $brand-primary;
    text-align: left;
  }

  .app-ResourcePage__calendar {
    display: block;
    width: 100%;
  }

  .app-ResourcePage__calendar-time-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: -($margin-between-items);
  }

  &__reservation-calendar-wrapper {
    flex-basis: ($resource-page-width/2);
    flex-grow: 1;
    margin-left: $margin-between-items;

    h3 {
      margin-top: 0;
    }
  }

  .app-ResourceCard {
    position: fixed;
    bottom: 15px;
    left: 15px;
    margin: 0;
    width: calc(100% - 30px);
    max-width: $app-SearchPage-max-width;
  }

  &__toggle-map,
  &__back-button {
    @include button-variant($gray, $white, $white);
    display: inline-block;
    margin-top: 7px;
    margin-right: 7px;
    margin-bottom: 7px;
    box-shadow: 0px 1px 10px 1px rgba(0, 0, 0, 0.2);
    border-style: none;
    border-radius: 100px;
    padding: 5px;
    padding-right: 10px;
    font-size: 1.3rem;

    & > div {
      display: inline-block;
    }

    .app-ResourcePage__map-icon {
      color: $brand-primary;
      font-size: 33px;
      margin-right: 3px;
      vertical-align: middle;
    }

    &:hover, &:focus, &:active {
      outline: none;
      background-color: $white;
    }
  }

  &__back-button {
    line-height: 33px;
  }

  .panel {
    background-color: transparent;
    border-top: 3px solid $silver;
    box-shadow: none;
    margin: 15px 0;

    .panel-heading {
      background-color: transparent;
      padding: 15px 0;

      .panel-title {
        a {
          color: $black;
          padding-left: 24px;
          position: relative;
          text-decoration: none;

          &::before {
            background-image: url('../search/controls/images/angle-down.svg');
            background-repeat: no-repeat;
            background-size: $line-height-computed;
            content: ' ';
            display: inline-block;
            vertical-align: -50%;
            left: 0;
            position: absolute;
            height: $line-height-computed;
            width: $line-height-computed;
          }
        }

        .collapsed {
          &::before {
            background-image: url('../search/controls/images/angle-right.svg');
          }
        }
      }
    }

    .panel-body {
      padding: 0;
    }
  }

  @media (max-width: $resource-page-width) {
    margin-left: -15px;
    margin-right: -15px;
  }

  @media (min-width: $screen-xs-max) {
    .app-ResourceHeader__content {
      padding: 15px 15px 15px 15px;
    }

    .h1, h1 {
      font-size: 32px;
    }

    .app-ResourcePage__content {
      padding: 0;
    }
  }
  @media (max-width: $screen-xs-max) {
    #footer {
      position: relative;
      z-index: -15;
    }
    .app-ResourceHeader__content {
      padding: 15px 15px 15px 15px;
    }
    .h1, h1 {
      font-size: 24px;
    }
    .app-ResourcePage__content {
      padding: 0;
    }
  }
}
