$carousel-image-min-height: 260px;
$carousel-image-mid-height: 350px;
$carousel-image-max-height: 420px;

@import './reservation-calendar/reservation-calendar';
@import './reservation-calendar/time-slots/time-slots';
@import './resource-info/image-carousel';
@import './resource-info/resource-info';

.app-ResourcePage {
  max-width: 700px;

  .date-header {
    margin-bottom: 20px;
    font-size: 1.8rem;
    color: $brand-primary;
    text-align: left;
  }
}
