.date-header {
  text-align: center;
  .date-header-button {
    border: none;
    background-color: transparent;

    &.decrease-date-button {
      float: left;
    }

    &.increase-date-button {
      float: right;
    }
  }
}
