.resource-type-button {
  text-transform: capitalize;
  & + & {
    margin-left: units(0.75);
  }
}

.resource-type-filter-container {
  background-color: $gray-lighter;
  padding: units(0.75);
  margin-bottom: units(0.75);

  h6 {
    color: $gray-darker;
  }
}
