.resource-type-button {
  text-transform: capitalize;
  & + & {
    margin-left: 10px;
  }
}

.resource-type-filter-container {
  background-color: $gray-lighter;
  padding: 10px;
  margin-bottom: 10px;

  h6 {
    color: $gray-darker;
  }
}
